body { 
	
}

h1 {
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: medium;
	margin: 0 0 10px 8px;
	padding:0;
}

img {
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

#container {
	
	margin-left:auto;
	margin-right:auto;

	padding: 9px;

	
}

#breadcrumbs a, #breadcrumbs a:visited, #breadcrumbs a:link, #breadcrumbs a:active {
	
	text-decoration:none;
}

#breadcrumbs a:hover {
	text-decoration:underline;
}

#breadcrumbs {
	margin:0 0 10px 0;
	  background: #eee;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #f5f5f5 #e5e5e5 #ccc;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
	  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
	  box-shadow: 0 0 2px rgba(0,0,0,.2);
	  /* Clear floats */
	  overflow: hidden;
	  width: 100%;
	}

#breadcrumbs a{
	  padding: .7em 1em .7em 2em;
	  float: left;
	  text-decoration: none;
	  color: #444;
	  position: relative;
	  text-shadow: 0 1px 0 rgba(255,255,255,.5);
	  background-color: #ddd;
	  background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
	  background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
	  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
	}
	
	#breadcrumbs li:first-child a{
	  padding-left: 1em;
	  -moz-border-radius: 5px 0 0 5px;
	  -webkit-border-radius: 5px 0 0 5px;
	  border-radius: 5px 0 0 5px;
	}
	
	#breadcrumbs a:hover{
	  background: #fff;
	}
	
	#breadcrumbs a::after,
	#breadcrumbs a::before{
	  content: "";
	  position: absolute;
	  top: 50%;
	  margin-top: -1.5em;   
	  border-top: 1.5em solid transparent;
	  border-bottom: 1.5em solid transparent;
	  border-left: 1em solid;
	  right: -1em;
	}
	
	#breadcrumbs a::after{ 
	  z-index: 2;
	  border-left-color: #ddd;  
	}
	
	#breadcrumbs a::before{
	  border-left-color: #ccc;  
	  right: -1.1em;
	  z-index: 1; 
	}
	
	#breadcrumbs a:hover::after{
	  border-left-color: #fff;
	}
	
	#breadcrumbs .current,
	#breadcrumbs .current:hover{
	  font-weight: bold;
	  background: none;
	}
	
	#breadcrumbs .current::after,
	#breadcrumbs .current::before{
	  content: normal;  
	}

#listingcontainer {

	padding: 10px;
	background-color:#FFF;
}

#listingheader {
	color: #476BB3;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	text-align:right;
}

.red {
color:#ff0000;	
}

.blue { 
color:blue;
}

#listingheader a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {
	text-decoration: none;
	color: #476BB3;
}

#listingheader a:hover {
	text-decoration: underline;
	color: #476BB3;
}


#headerfile {
	text-align:left;
	float: left;
	width: 220px; 
}

#headersize {
	text-align:center;
	width: 50px;
	float: left;
}

#headermodified {
	float: left;
	text-align:center;
	width:170px;	
}

#headerpermissions {
	float: left;
	text-align:right;
	width:134px;
}

#listing {
	border: 1px solid #A7C5FF;
	clear:both;
}

#listing div { clear:both; }

#listing a {
	display:block;
	padding: 2px 5px 2px 5px;
	font-size:small;
	color: #6285CA;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:568px;
	text-align:right;
	
}

#listing a:hover {
	background-color:#DBE6FE;
}

#listing a img {
	float:left;
	margin-right: 4px;
}



#listing a strong {
	width: 200px;
	float:left;
	cursor:hand;
	cursor:pointer;
	text-align:left;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

#listing a em {
	float: left;
	width: 50px;
	text-align:center;
	cursor:hand;
	cursor:pointer;
}

#listing a span.lastModify {
width:170px;
float:left;

}
#listing a span.permission {
width:150px;
}


#listing a span img {
	width: 150px;
	background-color:#CCCCCC;
	visibility: hidden;	
}

#listing a:hover span img {
	border: 1px solid #666666;
	visibility: visible;
}

#upload {
	border: 1px solid #A7C5FF;
	display:block;
	margin-top: 10px;
	font-size:small;
	color: #6285CA;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:568px;
	background-color: #E9F0FF;
}

#uploadtitle {
	background-color: #DBE6FE;
	padding: 2px 5px 2px 5px;
	border-bottom: 1px solid #A7C5FF;
	
}

#uploadcontent {
	padding: 2px 5px 2px 5px;
}


#copy {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:x-small;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
}

#copy a {
	text-decoration: underline;
	color: #666666;
}

.b {
	background-color: #E9F0FF;
	
}

.w {
	background-color:#FFFFFF;
}

.mod {
	float:right;
}

.size {
	float:right;
}

.upload-error{
	padding:2px 0;
}

.upload-error strong{
	color:#993333;
}

th.title {
height:35px;
}

.adminlist tbody tr > td a  img {
vertical-align:middle;
margin:0 5px 0 0;
}

.adminlist tbody tr > td {
padding-top:8px;
padding-bottom:8px;	
}

.masterpassfrm {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 10px;
}

.masterpassfrm td { font-size:12px; }
.masterpassfrm input[type="password"] { 
height:20px;
}

.masterpassfrm input[type="submit"] {
	background: none repeat scroll 0% 0% rgb(20, 98, 149); 
	color: rgb(255, 255, 255);
	 border: medium none; 
	 cursor: pointer; 
	 border-radius: 4px 4px 4px 4px; 
	 padding: 6px 18px; 
 }
