/*------------------------------------------------------------------------
# otportfoliomanager.css - OT Portfolio Manager Component
# ------------------------------------------------------------------------
# author    Vishal Dubey
# copyright Copyright (C) 2014. All Rights Reserved
# license   GNU/GPL Version 2 or later - http://www.gnu.org/licenses/gpl-2.0.html
# website   www.ourteam.co.in
-------------------------------------------------------------------------*/
.ot-portfolio-container {
	position:relative;
	margin-bottom: 30px;
}
/* remove margin-bottom form video contaoner */
.ot-portfolio-projects .video-container {
	margin-bottom:0!important;	
}
/*---------------------------------------*/
/*	Portfolio filter
/*---------------------------------------*/
.ot-portfolio-filter-nav {
	margin-bottom:20px;
}
/*---------------------------------------*/
/*	Portfolio item
/*---------------------------------------*/
.ot-portfolio-item {
	float:left;
}
/* General style for portfolio item */
.ot-portfolio-item-inner {
	padding: 20px;
	border: solid 1px #d0d0d0;
	background: #fafafa;
}
/* General style for layout: only media (gallery style) */
.only-media .ot-portfolio-item-inner {
	padding: 0;	
	border: 0;
}
/* General style for layout: media and desc below */
.media-desc-below .ot-portfolio-item-details-inner{
	padding-top: 20px;	
}
/* General style for layout: left description and right media */
.desc-media .ot-portfolio-item-details-inner {
	padding-right: 20px;	
}
/* General style for layout: left media and right description */
.media-desc .ot-portfolio-item-details-inner {
	padding-left: 20px;	
}
/* Project title */
.ot-portfolio-item-title {
	margin:0 0 20px 0;
	line-height:normal;
	font-size: 18px;
}
/* Project meta */
.ot-portfolio-meta {
	font-size:90%;
	margin-top:-10px;
	/*font-style:italic;*/
	color:#999;
}	
.ot-portfolio-meta-list {
	margin:0;
	padding:0;
}
.ot-portfolio-meta > ul > li {
	list-style:none;
	float:left;
	margin:0 10px 0 0;	
}
.ot-portfolio-meta .ot-portfolio-skill-list {
	display:inline-block;	
}
.ot-portfolio-meta > ul > li > span {
	/*font-weight:bold;*/	
}
.ot-portfolio-skill-list {
	margin:0;
	padding:0;
}
.ot-portfolio-skill-list li {
	list-style:none;
	margin:0;
	display:inline;
}
/* Intro text */
.ot-portfolio-item-desc {
	margin-top:10px;	
}
/* Read more link */
.ot-portfolio-read-more {
	margin:0;
	padding-top:10px;	
}
/*---------------------------------------*/
/*	Single portfolio item
/*---------------------------------------*/
.ot-portfolio-single-item-media,
.ot-portfolio-single-item-deatils	{
	float:left;
	margin-bottom:20px;
}
/* Project title */
.ot-portfolio-heading {
	position:relative;	
}
/* Full text */
.ot-portfolio-full-text {
	margin-bottom:20px;	
}
/* Social shares */
.ot-portfolio-social-shares {
	padding-top: 19px;	
	border-top: solid 1px #d0d0d0;
}
.ot-portfolio-social-shares-list {
	margin:0;
	padding:0;
}
.ot-portfolio-social-shares li {
	list-style:none;
	display:block;	
	float:left;
	margin:0;
	padding:0;
}
.ot-portfolio-social-shares li a {
	display:block;
	border:solid 1px #329bd1;
	color:#329bd1;
	font-size:18px;	
	height:28px;
	line-height:23px;
	width:28px;
	text-align:center;
	margin: 1px;
}
.ot-portfolio-social-shares li a:hover,
.ot-portfolio-social-shares li a:focus {
	background-color:#329bd1;
	color:#fff;
}
.ot-portfolio-social-shares li a i {
	font-size:13px;	
}
/* multiple images */
.ot-portfolio-single-item-media.multiple-images .ot-portfolio-img {
	float:left;
}
/* Extra fields */
.ot-portfolio-extrafields	{
	margin-bottom:20px;	
}
.ot-portfolio-extrafields	> h3 {
	margin:0;
	padding:7px 10px;
	background:#f4f4f4;
	font-size:100%;
	border:solid 1px #d0d0d0;
	border-bottom:none;	
}
.ot-portfolio-extrafields-list {
	margin:0;
	padding:0;
	border:solid 1px #d0d0d0;
	border-bottom:0;	
}
.ot-portfolio-extrafields-list li {
	list-style:none;
	margin:0;	
	border-bottom:solid 1px #d0d0d0;
	padding:7px 10px;
}
.ot-portfolio-extrafields-list li span {
	font-weight:bold;
	display:inline-block;
	min-width:100px;	
}
/* Links */
.ot-portfolio-links {
	margin-bottom:20px;	
}
/* Meta */
.ot-portfolio-single-item-deatils .ot-portfolio-meta {
	margin-bottom:20px;
	margin-top:-10px;	
}
.ot-portfolio-date-title {
	font-weight:bold;
	display:block;
	float:none;	
}
/* Project navigation */
.ot-portfolio-nav	{
	margin-bottom: 20px;
}
.ot-portfolio-nav ul {
	margin:0;
	padding:0;
	float: right;
}
.ot-portfolio-nav ul li {
	list-style:none;
	margin:0;
	display: block;
	float: left;
	margin: 0 0 0 2px;
}
.ot-portfolio-nav ul li a {
	display: block;
	border:solid 1px #d0d0d0;
	padding: 2px 10px;
	text-decoration:none;
	color: #999;	
}
.ot-portfolio-nav ul li a:hover,
.ot-portfolio-nav ul li a:focus {
	border-color: #329bd1;
	background-color: #329bd1;
	color: #fff;
}
/* Skills */
.ot-portfolio-skills-title {
	font-weight:bold;
	display:block;
	float:none;	
}
.ot-portfolio-skill-item-read-more {
	margin:0;
	padding-top:10px;	
}
/*---------------------------------------*/
/*	Related items
/*---------------------------------------*/
.ot-portfolio-related-items {
	position:relative;
	padding:30px 0;
}
/* Related item headings */
.ot-portfolio-related-items-heading .title {
	font-size:18px;
}
.ot-portfolio-related-items .ot-portfolio-col {
	margin-bottom:0!important;
}
/* remove margin-bottom form video contaoner */
.ot-portfolio-related-items .video-container {
	margin-bottom:0!important;	
}
/* Portfolio carousel navigation */
.ot-portfolio-related-items-content {
	position:relative;
}
.ot-portfolio-carousel-nav {
	display:block;
	position:absolute;
	z-index:10;
	top:-32px;
	right:1%;
	height:30px;
	width:100%;
	text-align:right;	
}
.ot-portfolio-carousel-nav .prev,
.ot-portfolio-carousel-nav .next {
	display:inline-block;
	height:30px;
	width:30px;
	margin-left: 1px;
	background-color:#329bd1;
	line-height:30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	opacity:0.8;
}
.ot-portfolio-carousel-nav .pager {
	display:inline-block!important;
	margin:0 10px 0 0;
}
.ot-portfolio-carousel-nav .pager a {
	display: inline-block;
	width:10px;
	height:10px;
	text-indent:-200px;
	overflow:hidden;
	background-color:#329bd1;
	margin:0 0 0 2px;
	opacity:0.6;
}
.ot-portfolio-carousel-nav .pager a:hover,
.ot-portfolio-carousel-nav .pager a.selected {
	opacity: 1;	
}
.ot-portfolio-carousel-nav .next:hover,
.ot-portfolio-carousel-nav .prev:hover {
	opacity:1;	
}
/*---------------------------------------*/
/*	Skills
/*---------------------------------------*/
.ot-portfolio-skill-item {
	float:left;	
}
.ot-portfolio-skill-item-inner {
	padding: 20px;
	border: solid 1px #d0d0d0;
	background: #fafafa;
}
/*---------------------------------------*/
/*	Thumbnails
/*---------------------------------------*/
.ot-portfolio-container img {
	max-width:100%;
	height:auto;	
}
/* Make portfolio thumbnail relative */
.ot-portfolio-img {
	position: relative;	
}
/* Mark div */
.ot-portfolio-mark {
	position:absolute;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
	opacity:0;
	height:100%;
	width:100%;
	background:url(../images/transparent-dark-30.png);	
}
/* Show thumbanil mark div on hover */
.ot-portfolio-img:hover .ot-portfolio-mark,
.ot-portfolio-img:focus .ot-portfolio-mark {
	opacity:1;	
}
/* Style for thumbnail links */
.ot-portfolio-mark a {
	display:block;
	float:left;
	margin:0 1px 0 0;
	width:36px;
	height:36px;
	line-height:36px;
	text-align:center;
	background-color:#329bd1;
	color:#fff;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0.1s;
	opacity:0.85;
	font-size:14px;
}
.ot-portfolio-mark a:hover,
.ot-portfolio-mark a:focus	{
	opacity:1;
	color:#fff;
}
/* links div in ot-portfolio-mark */
.ot-portfolio-mark .link {
	width:37px;
	height:36px;
	position:absolute;
	left:50%;
	margin-left:-18px;
	top:50%;
	margin-top:-18px;
}
.ot-portfolio-mark .links {
	width:74px;
	height:36px;
	position:absolute;
	left:50%;
	margin-left:-37px;
	top:50%;
	margin-top:-18px;
}
/* Image caption */
.ot-portfolio-img-caption {
	font-size:90%;
	font-style:italic;
	position:absolute;
	margin:0;
	bottom:5px;
	right:0;
	background-color:#329bd1;
	color:#fff;
	padding:2px 8px 4px 8px;
	opacity:0.85;
}
/*-------------------------------*/
/*	Bootstrap carousel
/*-------------------------------*/
.otportfolio-bs-carousel {
	margin-bottom:0!important;
}
/* Direct navigation */
.otportfolio-bs-carousel .carousel-control {
    background:url(../images/transparent-dark-30.png);
    -moz-border-radius:0;
	-webkit-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	border: 0;
    color:#fff;
    font-size:18px;
    height:33px;    
    line-height:33px;
	text-align:center;
    margin-top:-17px;
	opacity: 1;
    position:absolute;
    top:50%;
    width:33px;
}
.otportfolio-bs-carousel .carousel-control.left {
	left:8px;
}
.otportfolio-bs-carousel .carousel-control.right {	
	right:8px;	
}
.otportfolio-bs-carousel .carousel-control:hover{
	background:url(../images/transparent-dark-60.png);
}
/* Indicators */
.otportfolio-bs-carousel .carousel-indicators {
    position:absolute;
	width:100%;
	margin:0;
	padding:0;
	top:10px;
	right:0;
	left:0;
	height:10px;
	text-align:center;
}
.otportfolio-bs-carousel .carousel-indicators li {
    background:url(../images/transparent-dark-30.png);
    -moz-border-radius:999px;
	-webkit-border-radius:999px;
	-ms-border-radius:999px;
	-o-border-radius:999px;
	border-radius:999px;
    display: inline-block;
	float:none;
    height:10px;
    margin:0 1px;
    text-indent:-999px;
    width:10px;
	border:0;
}
.otportfolio-bs-carousel .carousel-indicators li.active {
	background:url(../images/transparent-dark-80.png);	
}
/* Carousel caption */
.otportfolio-bs-carousel .carousel-caption {
	position:absolute;
	width:96%;
    background:url(../images/transparent-dark-60.png);
    bottom:0;
    left:0;
	right:0;
    padding-top:20px;
	padding-bottom:20px;
	padding-left:2%;
	padding-right:2%;
    margin:0; 
	color:#fff;
	text-align:center;
	text-shadow:none; 
}
.otportfolio-bs-carousel .carousel-caption h4 {
	color:#fff;
	margin:0!important;
	font-size: 110%;	
}
.otportfolio-bs-carousel .carousel-caption p {
	margin:0;	
}
.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    z-index: 0;
}
.video-container iframe,
.video-container object,
.video-container embed{
    height: 100%;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
}
/* projects separator */
.ot-portfolio-separator {
	visibility:hidden;
	clear:both;
	width:100%;
}
/* fixed problem with hover image in firefox */
.ot-portfolio-img img {
	box-shadow: #000 0em 0em 0em;
}
/* set max-width for images */
.otportfolio-container img {
	max-width:100%;
}
/* Resposive style for tablet */
@media only screen and (max-width:768px){
	
	/* Set width 100% for portfolio elements */
	.ot-portfolio-single-item-media, 		/* Single item media */
	.ot-portfolio-single-item-deatils { 	/* Portfolio item details */
		width: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;	
	}
}
/* Responsive style for mobile */
@media only screen and (max-width:568px){	
	/* Set width 100% for portfolio elements */
	.no-carousel .ot-portfolio-col, 		/* Portfolio items */
	.ot-portfolio-media, 					/* Portfolio item media */
	.ot-portfolio-details { 				/* Portfolio item details */
		width: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;	
	}
	/* Remove padding left and right from project details (layout: media-desc and desc-media) and add padding top */
	.desc-media .ot-portfolio-item-details-inner,
	.media-desc .ot-portfolio-item-details-inner {
		padding-left: 0;
		padding-right: 0;
		padding-top: 20px;	
	}
	/* Add margin bottom for all portfolio items */
	.ot-portfolio-container.no-carousel .ot-portfolio-col,
	.ot-portfolio-related-items .ot-portfolio-col {	
		margin-bottom: 30px!important;
	}	
	/* Carousel navigation */
	.ot-portfolio-carousel-nav {
		position:static;
		z-index:10;
		top:0;
		right:0;
		height:auto;
		text-align:center;
		margin: 20px 0;	
	}
	.ot-portfolio-carousel-nav .prev,
	.ot-portfolio-carousel-nav .next {
		opacity:1;	
	}
	.ot-portfolio-carousel-nav .pager {
		display:none!important;
	}	
	/* Hide tooltip */
	.tooltip {
		display: none!important;	
	}
}
.ot-portfolio-carousel-nav .pager a {
	display: inline-block;
	width:10px;
	height:10px;
	text-indent:-200px;
	overflow:hidden;
	background-color:#329bd1;
	margin:0 0 0 2px;
	opacity:0.6;
}
.ot-portfolio-carousel-nav .pager a:hover,
.ot-portfolio-carousel-nav .pager a.selected {
	opacity: 1;	
}
.ot-portfolio-carousel-nav .next:hover,
.ot-portfolio-carousel-nav .prev:hover {
	opacity:1;	
}
/*---------------------------------------*/
/*	Skills
/*---------------------------------------*/
.ot-portfolio-skill-item {
	float:left;	
}
.ot-portfolio-skill-item-inner {
	padding: 20px;
	border: solid 1px #d0d0d0;
	background: #fafafa;
}
/*---------------------------------------*/
/*	Thumbnails
/*---------------------------------------*/
.ot-portfolio-container img {
	max-width:100%;
	height:auto;	
}
/* Make portfolio thumbnail relative */
.ot-portfolio-img {
	position: relative;	
}
/* Mark div */
.ot-portfolio-mark {
	position:absolute;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
	opacity:0;
	height:100%;
	width:100%;
	background:url(../images/transparent-dark-30.png);	
}
/* Show thumbanil mark div on hover */
.ot-portfolio-img:hover .ot-portfolio-mark,
.ot-portfolio-img:focus .ot-portfolio-mark {
	opacity:1;	
}
/* Style for thumbnail links */
.ot-portfolio-mark a {
	display:block;
	float:left;
	margin:0 1px 0 0;
	width:36px;
	height:36px;
	line-height:36px;
	text-align:center;
	background-color:#329bd1;
	color:#fff;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0.1s;
	opacity:0.85;
	font-size:14px;
}
.ot-portfolio-mark a:hover,
.ot-portfolio-mark a:focus	{
	opacity:1;
	color:#fff;
}
/* links div in ot-portfolio-mark */
.ot-portfolio-mark .link {
	width:37px;
	height:36px;
	position:absolute;
	left:50%;
	margin-left:-18px;
	top:50%;
	margin-top:-18px;
}
.ot-portfolio-mark .links {
	width:74px;
	height:36px;
	position:absolute;
	left:50%;
	margin-left:-37px;
	top:50%;
	margin-top:-18px;
}
/* Image caption */
.ot-portfolio-img-caption {
	font-size:90%;
	font-style:italic;
	position:absolute;
	margin:0;
	bottom:5px;
	right:0;
	background-color:#329bd1;
	color:#fff;
	padding:2px 8px 4px 8px;
	opacity:0.85;
}
/*-------------------------------*/
/*	Bootstrap carousel
/*-------------------------------*/
.otportfolio-bs-carousel {
	margin-bottom:0!important;
}
/* Direct navigation */
.otportfolio-bs-carousel .carousel-control {
    background:url(../images/transparent-dark-30.png);
    -moz-border-radius:0;
	-webkit-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	border: 0;
    color:#fff;
    font-size:18px;
    height:33px;    
    line-height:33px;
	text-align:center;
    margin-top:-17px;
	opacity: 1;
    position:absolute;
    top:50%;
    width:33px;
}
.otportfolio-bs-carousel .carousel-control.left {
	left:8px;
}
.otportfolio-bs-carousel .carousel-control.right {	
	right:8px;	
}
.otportfolio-bs-carousel .carousel-control:hover{
	background:url(../images/transparent-dark-60.png);
}
/* Indicators */
.otportfolio-bs-carousel .carousel-indicators {
    position:absolute;
	width:100%;
	margin:0;
	padding:0;
	top:10px;
	right:0;
	left:0;
	height:10px;
	text-align:center;
}
.otportfolio-bs-carousel .carousel-indicators li {
    background:url(../images/transparent-dark-30.png);
    -moz-border-radius:999px;
	-webkit-border-radius:999px;
	-ms-border-radius:999px;
	-o-border-radius:999px;
	border-radius:999px;
    display: inline-block;
	float:none;
    height:10px;
    margin:0 1px;
    text-indent:-999px;
    width:10px;
	border:0;
}
.otportfolio-bs-carousel .carousel-indicators li.active {
	background:url(../images/transparent-dark-80.png);	
}
/* Carousel caption */
.otportfolio-bs-carousel .carousel-caption {
	position:absolute;
	width:96%;
    background:url(../images/transparent-dark-60.png);
    bottom:0;
    left:0;
	right:0;
    padding-top:20px;
	padding-bottom:20px;
	padding-left:2%;
	padding-right:2%;
    margin:0; 
	color:#fff;
	text-align:center;
	text-shadow:none; 
}
.otportfolio-bs-carousel .carousel-caption h4 {
	color:#fff;
	margin:0!important;
	font-size: 110%;	
}
.otportfolio-bs-carousel .carousel-caption p {
	margin:0;	
}
.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    z-index: 0;
}
.video-container iframe,
.video-container object,
.video-container embed{
    height: 100%;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
}
/* projects separator */
.ot-portfolio-separator {
	visibility:hidden;
	clear:both;
	width:100%;
}
/* fixed problem with hover image in firefox */
.ot-portfolio-img img {
	box-shadow: #000 0em 0em 0em;
}
/* set max-width for images */
.otportfolio-container img {
	max-width:100%;
}

/* Resposive style for tablet */
@media only screen and (max-width:768px){
	
	/* Set width 100% for portfolio elements */
	.ot-portfolio-single-item-media, 		/* Single item media */
	.ot-portfolio-single-item-deatils { 	/* Portfolio item details */
		width: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;	
	}
}
/* Responsive style for mobile */
@media only screen and (max-width:568px){	
	
	
	
	/* Set width 100% for portfolio elements */
	.no-carousel .ot-portfolio-col, 		/* Portfolio items */
	.ot-portfolio-media, 					/* Portfolio item media */
	.ot-portfolio-details { 				/* Portfolio item details */
		width: 100%!important;
		margin-left: 0!important;
		margin-right: 0!important;	
	}
	
	
	
	/* Remove padding left and right from project details (layout: media-desc and desc-media) and add padding top */
	.desc-media .ot-portfolio-item-details-inner,
	.media-desc .ot-portfolio-item-details-inner {
		padding-left: 0;
		padding-right: 0;
		padding-top: 20px;	
	}
	/* Add margin bottom for all portfolio items */
	.ot-portfolio-container.no-carousel .ot-portfolio-col,
	.ot-portfolio-related-items .ot-portfolio-col {	
		margin-bottom: 30px!important;
	}	
	/* Carousel navigation */
	.ot-portfolio-carousel-nav {
		position:static;
		z-index:10;
		top:0;
		right:0;
		height:auto;
		text-align:center;
		margin: 20px 0;	
	}
	
	.ot-portfolio-carousel-nav .prev,
	.ot-portfolio-carousel-nav .next {
		opacity:1;	
	}
	
	.ot-portfolio-carousel-nav .pager {
		display:none!important;
	}	
	/* Hide tooltip */
	.tooltip {
		display: none!important;	
	}
}
.ot_search {
    display: inline-block;
    position: relative;
}
#result {
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    margin-top: -1px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 0;
    width: 189px;
    z-index: 10;
}
#result a{text-decoration:none;}
#result a:hover{text-decoration:none;}
.show {
    border-bottom: 1px dashed #999;
    font-size: 15px;
    height: 50px;
    padding: 10px;
}
.show:hover {
    background: none repeat scroll 0 0 #4c66a4;
    color: #fff;
    cursor: pointer;
}
/*------------------------*/
.stroes-list {
	margin:0 -6px;
	list-style:none;
	padding:31px 0 16px;
	position:relative;
}
.stroes-list:after {
	display:block;
	content:'';
	clear:both;
}
.stroes-list .stroes-item{
	float:left;
	width:264px;
	margin:0 6px 12px;
	position:relative;
	background:#efefef;
}
.stroes-list .stroes-item .tel {
	color:#474747;
	position:absolute;
	right:12px;
	top:123px;
	cursor:text;
	font:700 14px/18px Arial, Helvetica, sans-serif;
}
.stroes-list .stroes-item.opened-state .tel {color:#c2c2c2;}
.popup .phone:hover,
.stroes-list .stroes-item .tel:hover { text-decoration:none; }
.stroes-list .stroes-item.popup-active .tel { color:#fff; }
.stroes-list .stroes-item .brand {
	display:table;
	height:149px;
	position:relative;
}
.stroes-list .stroes-item.popup-active .brand {
	height:161px;
	background:#333;
	border-bottom:solid 12px #333;
}
.stroes-list .stroes-item.opened-state{
	border-bottom:solid 12px #333;
	margin-bottom:0;
	background:#333;
}
.stroes-list .stroes-item.opened-state:after{
	content:'';
	position:absolute;
	bottom:-13px;
	width:100%;
	left:0;
	height:2px;
	background:#333;
}
.stroes-list .stroes-item .brand span {
	display:table-cell;
	vertical-align:middle;
}
.stroes-list .stroes-item .brand img {
	display:block;
	margin:0 auto;
}
.stroes .head {
	overflow:hidden;
	padding:16px 0 11px;
}
.stroes .search-form {
	float:right;
	width:267px;
}
.stroes .search-form .form-control {
	width:100%;
	border:solid #797979;
	border-width:1px 0 1px 1px;
	outline:none !important;
	box-shadow:none !important;
	line-height:16px;
}
.stroes .search-form .field {
	padding:3px 0 3px 3px;
	overflow:hidden;
	width:230px;
}
.stroes .search-form input[type=submit] {
	width:37px;
	height:34px;
	float:right;
	margin:3px 0 0;
	overflow:hidden;
	text-indent:-9999px;
	border-radius:0 !important;
	background:url(../images/sprite.png) no-repeat -277px -106px;
}
.stroes .head .textbox {
	color:#737373;
	overflow:hidden;
	padding:3px 0 2px;
	letter-spacing:1px;
	text-transform:uppercase;
	font:15px/20px 'futura_heavyregular', Arial, Helvetica, sans-serif;
}
.stroes .head .textbox .text { 
 float:left;
 margin:15px 0 0;
}
.stroes .head .textbox strong { 
	font-weight:normal;
	float:left;
}
.select-form {
	float:left;
}
.select-form select {
	float:left;
	width:260px;
	text-transform:uppercase;
	background:rgba(0, 0, 0, 0.83);
	color:#cfcfcf;
}
.stroes .head .textbox ul {
	margin:16px 0 0;
	float:left;
	list-style:none;
	padding:0 9px 4px 3px;
	font-size:13px;
}
.stroes .head .textbox ul li {
	float:left;
	margin:0 4px 5px 5px;
}
.stroes .head .textbox ul li a {
	color:#000;
	display:block;
	position:relative;
}
.stroes .head .textbox ul li.active a,
.stroes .head .textbox ul li a:hover {
	color:#000;
	text-decoration:none;
}
.stroes .head .textbox ul li a:hover:before,
.stroes .head .textbox ul li.active a:after {
	position:absolute;
	left:-2px;
	right:-2px;
	bottom:-4px;
	content:'';
	height:2px;
	background:#93d900;
}
.stroes-list .stroes-item .popup{display: none !important;}
.popup {
	position:relative;
	z-index:1000;
	border:solid 10px #333;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.ot-portfolio-item-inner.brand {
    background: transparent;
    border: 0px solid #d0d0d0 !important;
    padding: 20px;
}
.stamp-holder{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	min-width:230px;
	margin:0 4px 14px;
	overflow:hidden;
	background:none repeat scroll 0 0 #333333;
}
.stamp-holder .popup{
	position:relative;
	z-index:100;
}
.popup .close {
	position:absolute;
	right:19px;
	top:17px;
	width:18px;
	height:18px;
	overflow:hidden;
	opacity:1;
	text-indent:9999px;
	background:url(../images/sprite.png) no-repeat -249px -350px;
}
.popup img {
	display:block;
	width:100%;
	height:auto;
}
.popup .phone {
	color:#fff;
	position:absolute;
	left:81px;
	top:46.1%;
	cursor:text;
	font:700 25px/28px Arial, Helvetica, sans-serif;
}
/*-------------------------New CSS*/
.ot-portfolio-container.is-carousel {
    margin-left: -10px;
}
.ot-portfolio-container.is-carousel .ot-portfolio-col {
    margin-left: 0;
    margin-right: 0;
    width: 25%;
}
.ot-portfolio-container.is-carousel .ot-portfolio-item-inner {
    margin-left: 10px;
    margin-right: 10px;
}
.ot-portfolio-container {
    margin-left: -1%;
    width: 102%;
}
.ot-portfolio-container .ot-portfolio-col {
    margin-bottom: 30px;
    margin-left: 0.4%;
    margin-right: 0.4%;
    width: 20.0%;
}
.ot-portfolio-container .ot-portfolio-media {
    float: left;
    width: 100%;
}
.ot-portfolio-container .ot-portfolio-details {
    float: left;
    width: 100%;
}
.ot-portfolio-container .ot-portfolio-filter-nav, .ot-portfolio-container .pagination, .ot-portfolio-container .ot-portfolio-nav {
    margin-left: 1% !important;
    margin-right: 1% !important;
}
.ot-portfolio-social-shares li a {
    color: #c7b3b3;
}
.ot-portfolio-social-shares li a:hover, .ot-portfolio-social-shares li a:focus, .ot-portfolio-nav ul li a:hover, .ot-portfolio-nav ul li a:focus, .ot-portfolio-carousel-nav .prev, .ot-portfolio-carousel-nav .next, .ot-portfolio-carousel-nav .pager a, .ot-portfolio-mark a, .ot-portfolio-img-caption {
    background-color: #c7b3b3;
}
.ot-portfolio-social-shares li a, .ot-portfolio-nav ul li a:hover, .ot-portfolio-nav ul li a:focus {
    border-color: #c7b3b3;
}