.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mod_caroufredsel {
  overflow: hidden;
}
.caroufredsel_wrapper {
  cursor: auto !important;
}
.list_carousel {
  padding: 0;
  width: auto;
  position: relative;
  margin: 0 0 0 -20px;
}
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list_carousel ul li {
  padding: 0 0 0 20px;
  margin: 0;
  display: block;
  float: left;
}
@media (max-width: 1200px) {
  .list_carousel {
    margin: 0 0 0 -20px;
  }
  .list_carousel ul li {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 979px) {
  .list_carousel {
    margin: 0 0 0 -12px;
  }
  .list_carousel ul li {
    padding: 0 0 0 12px;
  }
}
.clearfix {
  float: none;
  clear: both;
}
/*Navigation*/
.caroufredsel_prev,
.caroufredsel_next {
  position: absolute;
  top: 50%;
  display: block;
  height: 36px;
  width: 36px;
  margin: -18px 0 0 0;
  text-align: center;
  font: 36px/1em 'Ultra', serif;
  color: #bababa;
}
.caroufredsel_prev span,
.caroufredsel_next span {
  display: block;
  cursor: pointer;
}
.caroufredsel_prev {
  left: 20px;
}
.caroufredsel_next {
  right: 0;
}
/*Pagination*/
.caroufredsel_pagination {
  text-align: center;
}
.caroufredsel_pagination a {
  display: inline-block;
  padding: 0 0.5em;
}
