.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img.jg_photo {
  margin: 0;
  padding: 0;
}
img.jg_photo,
.jg_minis a img {
  border: none;
}
a:hover img.jg_photo,
.jg_minis a:hover img {
  border: none;
}
.jg_catelem_photo {
  font-size: 0;
  line-height: 0;
}
.jg_row {
  padding: 0;
  margin: 0 -12px 0 -20px;
}
.jg_element_cat,
.jg_subcatelem_cat {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.jg_element_cat {
  display: inline-block;
  float: none;
}
.loaded .jg_element_cat {
  display: none;
}
.jg_imgalign_catsubs {
  position: relative;
  overflow: hidden;
}
.jg_imgalign_catsubs .jg_photo {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.jg_imgalign_catsubs:hover .jg_photo {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.jg_imgalign_catsubs:hover .jg_subcatelem_txt {
  opacity: 1;
  filter: alpha(opacity=100);
}
.jg_subcatelem_cat a {
  height: auto;
}
.jg_subcatelem_photo {
  font-size: 0;
  line-height: 0;
  background: #000;
}
.jg_subcatelem_photo a {
  display: block;
}
.jg_subcatelem_txt {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
}
.jg_subcatelem_txt:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.jg_subcatelem_txt ul {
  display: inline-block;
  max-width: 99%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jg_subcatelem_txt ul a {
  position: relative;
}
.jg_subcatelem_txt .jg_subcatelem_txt__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.jg_catelem_txt {
  margin: 0;
}
.jg_catelem_txt .gallery_desc p + p {
  display: none;
}
.jg_dtl_photo {
  font-size: 0;
  line-height: 0;
}
.jg_dtl_photo .lazy_container {
  width: 100%;
}
.jg_dtl_photo .lazy_container .lazy_preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.jg_dtl_photo .lazy_container img {
  position: relative;
}
div.jg_details,
div.jg_voting,
div.jg_commentsarea,
div.jg_send2friend,
div.jg_bbcode,
div.jg_exif,
div.jg_panemodule {
  border: none;
  margin: 0;
}
.jg_detailnavi {
  margin-bottom: 0;
}
.jg_iconbar {
  padding: 0;
}
.jg_imgtitle {
  text-align: left;
}
.jg_imgalign_catimgs {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.jg_imgalign_catimgs .jg_photo {
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.jg_imgalign_catimgs .jg_catelem_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.jg_imgalign_catimgs .jg_catelem_txt:before {
  content: '';
  height: 100%;
  display: inline-block;
  width: 0;
  overflow: hidden;
  vertical-align: middle;
}
.jg_imgalign_catimgs .jg_catelem_txt ul {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 99%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
}
.jg_imgalign_catimgs .jg_catelem_txt .jg_links a {
  color: #fff;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 22px;
  line-height: 22px;
  margin: 0 7px;
  display: inline-block;
}
.jg_imgalign_catimgs .jg_catelem_txt .jg_links a:hover {
  color: #999;
}
.jg_imgalign_catimgs:hover .jg_photo {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.jg_imgalign_catimgs:hover .jg_catelem_txt {
  opacity: 1;
  filter: alpha(opacity=100);
}
.jg_gallery {
  margin: 0 -1.1% 0 -20px;
  font-size: 0;
  line-height: 0;
}
.jg_catorderlist {
  text-align: left;
  white-space: normal;
}
.jg_catorderlist strong {
  display: block;
  margin-bottom: 15px;
}
.fancybox-close {
  position: fixed;
  right: 0;
  top: 0;
  background: none;
  color: #fff;
  font-size: 22px;
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 36px !important;
  line-height: 36px;
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  -o-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}
.fancybox-close:before {
  content: '\f057';
  font-family: FontAwesome;
}
.fancybox-close:hover {
  color: #fff;
  font-size: 30px;
}
.fancybox-lock .fancybox-overlay {
  overflow: hidden;
}
.fancybox-prev,
.fancybox-next {
  overflow: hidden;
}
.fancybox-prev span,
.fancybox-next span {
  height: 100px;
  width: 50px;
  margin-top: -50px;
  background: none;
  color: #fff;
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  -o-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  overflow: hidden;
}
.fancybox-prev span:before,
.fancybox-next span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: border-color 0.3s ease;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  width: 100px;
  height: 100px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fancybox-prev:hover span,
.fancybox-next:hover span {
  color: #fff;
}
.fancybox-prev:hover span:before,
.fancybox-next:hover span:before {
  border-left-color: #666;
  border-top-color: #666;
}
.fancybox-prev span:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 20px;
}
.fancybox-next span:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  left: -70px;
}
.fancybox-skin {
  background: #191919;
}
.fancybox-image {
  opacity: 0.99;
  filter: alpha(opacity=99);
}
#fancybox-thumbs {
  height: 54px;
  text-align: center;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}
#fancybox-thumbs ul {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  display: inline-block;
  top: 0 !important;
  background: #191919;
}
#fancybox-thumbs ul li {
  float: none;
  display: inline-block;
  padding: 0;
  border: none !important;
  position: relative;
  background: url(../images/loader.gif) 50% 50% no-repeat;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#fancybox-thumbs ul li .holder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}
#fancybox-thumbs ul li.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.fancybox-lock {
  overflow: hidden !important;
}
.fancybox-lock #wrapper,
.fancybox-lock #footer-wrapper {
  display: none;
}
body.mobile #fancybox-thumbs {
  display: none;
}
.fancybox-wrap {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  right: 0 !important;
}
.fancybox-inner,
.fancybox-skin,
.fancybox-outer {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}
.fancybox-image {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.fancybox-thumb .lazy,
.fancybox-thumb img {
  display: none;
}
.fancybox-image {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}
.fancybox-type-image.fancybox-opened .fancybox-image {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.fancybox-nav {
  width: 56px;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fancybox-nav span {
  visibility: visible;
}
.fancybox-close {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}
.fancybox-full #fancybox-thumbs {
  bottom: -100px;
}
.fancybox-full .fancybox-prev {
  left: -100px;
}
.fancybox-full .fancybox-next,
.fancybox-full .fancybox-close {
  right: -100px;
}
.ui-loader {
  display: none;
}
.jg_pathway {
  padding: 0;
  margin: 0 0 24px;
}
