.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*	for cubic button	*/
/*	for links  	*/
/***********************************************/
/*	for button-bg	*/
/******************************************/
/*********************	rotate button 	*********************/
/*======================= TYPOGRAPHY =======================*/
h1 a.custom_hover > span > span,
h2 a.custom_hover > span > span,
h3 a.custom_hover > span > span,
h4 a.custom_hover > span > span,
h5 a.custom_hover > span > span,
h6 a.custom_hover > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
}
h1 a.custom_hover > span > strong,
h2 a.custom_hover > span > strong,
h3 a.custom_hover > span > strong,
h4 a.custom_hover > span > strong,
h5 a.custom_hover > span > strong,
h6 a.custom_hover > span > strong {
  display: block;
  color: #111111;
  font-weight: inherit;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
h1 a.custom_hover:hover > span > span,
h2 a.custom_hover:hover > span > span,
h3 a.custom_hover:hover > span > span,
h4 a.custom_hover:hover > span > span,
h5 a.custom_hover:hover > span > span,
h6 a.custom_hover:hover > span > span,
h1 a.custom_hover:focus > span > span,
h2 a.custom_hover:focus > span > span,
h3 a.custom_hover:focus > span > span,
h4 a.custom_hover:focus > span > span,
h5 a.custom_hover:focus > span > span,
h6 a.custom_hover:focus > span > span,
h1 a.custom_hover:active > span > span,
h2 a.custom_hover:active > span > span,
h3 a.custom_hover:active > span > span,
h4 a.custom_hover:active > span > span,
h5 a.custom_hover:active > span > span,
h6 a.custom_hover:active > span > span,
h1 a.custom_hover.active > span > span,
h2 a.custom_hover.active > span > span,
h3 a.custom_hover.active > span > span,
h4 a.custom_hover.active > span > span,
h5 a.custom_hover.active > span > span,
h6 a.custom_hover.active > span > span,
h1 a.custom_hover.selected > span > span,
h2 a.custom_hover.selected > span > span,
h3 a.custom_hover.selected > span > span,
h4 a.custom_hover.selected > span > span,
h5 a.custom_hover.selected > span > span,
h6 a.custom_hover.selected > span > span {
  opacity: 0;
  top: -6px;
}
h1 a.custom_hover:hover > span > strong,
h2 a.custom_hover:hover > span > strong,
h3 a.custom_hover:hover > span > strong,
h4 a.custom_hover:hover > span > strong,
h5 a.custom_hover:hover > span > strong,
h6 a.custom_hover:hover > span > strong,
h1 a.custom_hover:focus > span > strong,
h2 a.custom_hover:focus > span > strong,
h3 a.custom_hover:focus > span > strong,
h4 a.custom_hover:focus > span > strong,
h5 a.custom_hover:focus > span > strong,
h6 a.custom_hover:focus > span > strong,
h1 a.custom_hover:active > span > strong,
h2 a.custom_hover:active > span > strong,
h3 a.custom_hover:active > span > strong,
h4 a.custom_hover:active > span > strong,
h5 a.custom_hover:active > span > strong,
h6 a.custom_hover:active > span > strong,
h1 a.custom_hover.active > span > strong,
h2 a.custom_hover.active > span > strong,
h3 a.custom_hover.active > span > strong,
h4 a.custom_hover.active > span > strong,
h5 a.custom_hover.active > span > strong,
h6 a.custom_hover.active > span > strong,
h1 a.custom_hover.selected > span > strong,
h2 a.custom_hover.selected > span > strong,
h3 a.custom_hover.selected > span > strong,
h4 a.custom_hover.selected > span > strong,
h5 a.custom_hover.selected > span > strong,
h6 a.custom_hover.selected > span > strong {
  opacity: 1;
}
h1 a.custom_hover > span > strong,
h2 a.custom_hover > span > strong,
h3 a.custom_hover > span > strong,
h4 a.custom_hover > span > strong,
h5 a.custom_hover > span > strong,
h6 a.custom_hover > span > strong {
  display: none;
}
h1 a.custom_hover:hover > span > span,
h2 a.custom_hover:hover > span > span,
h3 a.custom_hover:hover > span > span,
h4 a.custom_hover:hover > span > span,
h5 a.custom_hover:hover > span > span,
h6 a.custom_hover:hover > span > span,
h1 a.custom_hover:focus > span > span,
h2 a.custom_hover:focus > span > span,
h3 a.custom_hover:focus > span > span,
h4 a.custom_hover:focus > span > span,
h5 a.custom_hover:focus > span > span,
h6 a.custom_hover:focus > span > span,
h1 a.custom_hover:active > span > span,
h2 a.custom_hover:active > span > span,
h3 a.custom_hover:active > span > span,
h4 a.custom_hover:active > span > span,
h5 a.custom_hover:active > span > span,
h6 a.custom_hover:active > span > span,
h1 a.custom_hover.active > span > span,
h2 a.custom_hover.active > span > span,
h3 a.custom_hover.active > span > span,
h4 a.custom_hover.active > span > span,
h5 a.custom_hover.active > span > span,
h6 a.custom_hover.active > span > span,
h1 a.custom_hover.selected > span > span,
h2 a.custom_hover.selected > span > span,
h3 a.custom_hover.selected > span > span,
h4 a.custom_hover.selected > span > span,
h5 a.custom_hover.selected > span > span,
h6 a.custom_hover.selected > span > span {
  color: #111111;
  opacity: 1;
  top: 0;
}
h4 a.custom_hover > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
}
h4 a.custom_hover > span > strong {
  display: block;
  color: #0C73B8;
  font-weight: inherit;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
h4 a.custom_hover:hover > span > span,
h4 a.custom_hover:focus > span > span,
h4 a.custom_hover:active > span > span,
h4 a.custom_hover.active > span > span,
h4 a.custom_hover.selected > span > span {
  opacity: 0;
  top: -6px;
}
h4 a.custom_hover:hover > span > strong,
h4 a.custom_hover:focus > span > strong,
h4 a.custom_hover:active > span > strong,
h4 a.custom_hover.active > span > strong,
h4 a.custom_hover.selected > span > strong {
  opacity: 1;
}
h4 a.custom_hover > span > strong {
  display: none;
}
h4 a.custom_hover:hover > span > span,
h4 a.custom_hover:focus > span > span,
h4 a.custom_hover:active > span > span,
h4 a.custom_hover.active > span > span,
h4 a.custom_hover.selected > span > span {
  color: #0C73B8;
  opacity: 1;
  top: 0;
}
h5 a.custom_hover > span > span,
.page-category__all-menu .item_title a.custom_hover > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
}
h5 a.custom_hover > span > strong,
.page-category__all-menu .item_title a.custom_hover > span > strong {
  display: block;
  color: #0C73B8;
  font-weight: inherit;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
h5 a.custom_hover:hover > span > span,
.page-category__all-menu .item_title a.custom_hover:hover > span > span,
h5 a.custom_hover:focus > span > span,
.page-category__all-menu .item_title a.custom_hover:focus > span > span,
h5 a.custom_hover:active > span > span,
.page-category__all-menu .item_title a.custom_hover:active > span > span,
h5 a.custom_hover.active > span > span,
.page-category__all-menu .item_title a.custom_hover.active > span > span,
h5 a.custom_hover.selected > span > span,
.page-category__all-menu .item_title a.custom_hover.selected > span > span {
  opacity: 0;
  top: -6px;
}
h5 a.custom_hover:hover > span > strong,
.page-category__all-menu .item_title a.custom_hover:hover > span > strong,
h5 a.custom_hover:focus > span > strong,
.page-category__all-menu .item_title a.custom_hover:focus > span > strong,
h5 a.custom_hover:active > span > strong,
.page-category__all-menu .item_title a.custom_hover:active > span > strong,
h5 a.custom_hover.active > span > strong,
.page-category__all-menu .item_title a.custom_hover.active > span > strong,
h5 a.custom_hover.selected > span > strong,
.page-category__all-menu .item_title a.custom_hover.selected > span > strong {
  opacity: 1;
}
h5 a.custom_hover > span > strong,
.page-category__all-menu .item_title a.custom_hover > span > strong {
  display: none;
}
h5 a.custom_hover:hover > span > span,
.page-category__all-menu .item_title a.custom_hover:hover > span > span,
h5 a.custom_hover:focus > span > span,
.page-category__all-menu .item_title a.custom_hover:focus > span > span,
h5 a.custom_hover:active > span > span,
.page-category__all-menu .item_title a.custom_hover:active > span > span,
h5 a.custom_hover.active > span > span,
.page-category__all-menu .item_title a.custom_hover.active > span > span,
h5 a.custom_hover.selected > span > span,
.page-category__all-menu .item_title a.custom_hover.selected > span > span {
  color: #0C73B8;
  opacity: 1;
  top: 0;
}
/*	button	*/
.btn {
  position: relative;
  display: inline-block;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}
.btn > span {
  position: relative;
  display: inline-block;
  background: #111111;
  color: #ffffff;
  padding: 4px 18px 6px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.btn strong {
  display: block;
  font-weight: inherit;
  color: #ffffff;
  position: absolute;
  padding: 4px 18px 6px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3350c;
  transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.selected {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover > span,
.btn:focus > span,
.btn:active > span,
.btn.active > span,
.btn.selected > span {
  background: #000000;
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.btn:hover strong,
.btn:focus strong,
.btn:active strong,
.btn.active strong,
.btn.selected strong {
  background: #0C73B8;
}
.btn strong {
  display: none !important;
  height: 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
  padding: 0;
}
.btn > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.btn:hover > span,
.btn:focus > span,
.btn:active > span,
.btn.active > span,
.btn.selected > span {
  background: #0C73B8;
  color: #ffffff;
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.newsletter .btn {
  position: relative;
  display: inline-block;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}
.newsletter .btn > span {
  position: relative;
  display: inline-block;
  background: #000000;
  color: #ffffff;
  padding: 5px 18px 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.newsletter .btn strong {
  display: block;
  font-weight: inherit;
  color: #ffffff;
  position: absolute;
  padding: 5px 18px 5px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3350c;
  transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.newsletter .btn:hover,
.newsletter .btn:focus,
.newsletter .btn:active,
.newsletter .btn.active,
.newsletter .btn.selected {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.newsletter .btn:hover > span,
.newsletter .btn:focus > span,
.newsletter .btn:active > span,
.newsletter .btn.active > span,
.newsletter .btn.selected > span {
  background: #000000;
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.newsletter .btn:hover strong,
.newsletter .btn:focus strong,
.newsletter .btn:active strong,
.newsletter .btn.active strong,
.newsletter .btn.selected strong {
  background: #0C73B8;
}
.newsletter .btn strong {
  display: none !important;
  height: 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
  padding: 0;
}
.newsletter .btn > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.newsletter .btn:hover > span,
.newsletter .btn:focus > span,
.newsletter .btn:active > span,
.newsletter .btn.active > span,
.newsletter .btn.selected > span {
  background: #0C73B8;
  color: #ffffff;
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
/*	pagination	*/
.pagination .pagenav {
  position: relative;
  display: inline-block;
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  perspective: 700px;
}
.pagination .pagenav > span {
  position: relative;
  display: inline-block;
  background: #111111;
  color: #ffffff;
  padding: 3px 14px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.pagination .pagenav strong {
  display: block;
  font-weight: inherit;
  color: #ffffff;
  position: absolute;
  padding: 3px 14px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3350c;
  transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination .pagenav:hover,
.pagination .pagenav:focus,
.pagination .pagenav:active,
.pagination .pagenav.active,
.pagination .pagenav.selected {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.pagination .pagenav:hover > span,
.pagination .pagenav:focus > span,
.pagination .pagenav:active > span,
.pagination .pagenav.active > span,
.pagination .pagenav.selected > span {
  background: #000000;
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.pagination .pagenav:hover strong,
.pagination .pagenav:focus strong,
.pagination .pagenav:active strong,
.pagination .pagenav.active strong,
.pagination .pagenav.selected strong {
  background: #0C73B8;
}
.pagination .pagenav strong {
  display: none !important;
  height: 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
  padding: 0;
}
.pagination .pagenav > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.pagination .pagenav:hover > span,
.pagination .pagenav:focus > span,
.pagination .pagenav:active > span,
.pagination .pagenav.active > span,
.pagination .pagenav.selected > span {
  background: #0C73B8;
  color: #ffffff;
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.pagination span.pagenav {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.pagination span.pagenav > span {
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.pagination span.pagenav strong {
  display: block;
  background: #0C73B8;
  color: #ffffff;
}
.pagination span.pagenav > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
  background: #0C73B8;
  color: #ffffff;
}
.pagination .pagination-start span.pagenav,
.pagination .pagination-prev span.pagenav,
.pagination .pagination-next span.pagenav,
.pagination .pagination-end span.pagenav,
.pagination .pagination-start .span.hasTooltip,
.pagination .pagination-prev .span.hasTooltip,
.pagination .pagination-next .span.hasTooltip,
.pagination .pagination-end .span.hasTooltip {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.pagination .pagination-start span.pagenav > span,
.pagination .pagination-prev span.pagenav > span,
.pagination .pagination-next span.pagenav > span,
.pagination .pagination-end span.pagenav > span,
.pagination .pagination-start .span.hasTooltip > span,
.pagination .pagination-prev .span.hasTooltip > span,
.pagination .pagination-next .span.hasTooltip > span,
.pagination .pagination-end .span.hasTooltip > span {
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.pagination .pagination-start span.pagenav strong,
.pagination .pagination-prev span.pagenav strong,
.pagination .pagination-next span.pagenav strong,
.pagination .pagination-end span.pagenav strong,
.pagination .pagination-start .span.hasTooltip strong,
.pagination .pagination-prev .span.hasTooltip strong,
.pagination .pagination-next .span.hasTooltip strong,
.pagination .pagination-end .span.hasTooltip strong {
  display: block;
  background: #343232;
  color: #ffffff;
}
.pagination .pagination-start span.pagenav > span,
.pagination .pagination-prev span.pagenav > span,
.pagination .pagination-next span.pagenav > span,
.pagination .pagination-end span.pagenav > span,
.pagination .pagination-start .span.hasTooltip > span,
.pagination .pagination-prev .span.hasTooltip > span,
.pagination .pagination-next .span.hasTooltip > span,
.pagination .pagination-end .span.hasTooltip > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
  background: #343232;
  color: #ffffff;
}
/*	Lists	*/
.unstyled a > span > span,
.list1 a > span > span,
.list1 ul a > span > span,
.archive-module a > span > span,
.categories-module a > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
}
.unstyled a > span > strong,
.list1 a > span > strong,
.list1 ul a > span > strong,
.archive-module a > span > strong,
.categories-module a > span > strong {
  display: block;
  color: #0C73B8;
  font-weight: inherit;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
.unstyled a:hover > span > span,
.list1 a:hover > span > span,
.list1 ul a:hover > span > span,
.archive-module a:hover > span > span,
.categories-module a:hover > span > span,
.unstyled a:focus > span > span,
.list1 a:focus > span > span,
.list1 ul a:focus > span > span,
.archive-module a:focus > span > span,
.categories-module a:focus > span > span,
.unstyled a:active > span > span,
.list1 a:active > span > span,
.list1 ul a:active > span > span,
.archive-module a:active > span > span,
.categories-module a:active > span > span,
.unstyled a.active > span > span,
.list1 a.active > span > span,
.list1 ul a.active > span > span,
.archive-module a.active > span > span,
.categories-module a.active > span > span,
.unstyled a.selected > span > span,
.list1 a.selected > span > span,
.list1 ul a.selected > span > span,
.archive-module a.selected > span > span,
.categories-module a.selected > span > span {
  opacity: 0;
  left: 10px;
}
.unstyled a:hover > span > strong,
.list1 a:hover > span > strong,
.list1 ul a:hover > span > strong,
.archive-module a:hover > span > strong,
.categories-module a:hover > span > strong,
.unstyled a:focus > span > strong,
.list1 a:focus > span > strong,
.list1 ul a:focus > span > strong,
.archive-module a:focus > span > strong,
.categories-module a:focus > span > strong,
.unstyled a:active > span > strong,
.list1 a:active > span > strong,
.list1 ul a:active > span > strong,
.archive-module a:active > span > strong,
.categories-module a:active > span > strong,
.unstyled a.active > span > strong,
.list1 a.active > span > strong,
.list1 ul a.active > span > strong,
.archive-module a.active > span > strong,
.categories-module a.active > span > strong,
.unstyled a.selected > span > strong,
.list1 a.selected > span > strong,
.list1 ul a.selected > span > strong,
.archive-module a.selected > span > strong,
.categories-module a.selected > span > strong {
  opacity: 1;
}
.unstyled a > span > strong,
.list1 a > span > strong,
.list1 ul a > span > strong,
.archive-module a > span > strong,
.categories-module a > span > strong {
  display: none;
}
.unstyled a:hover > span > span,
.list1 a:hover > span > span,
.list1 ul a:hover > span > span,
.archive-module a:hover > span > span,
.categories-module a:hover > span > span,
.unstyled a:focus > span > span,
.list1 a:focus > span > span,
.list1 ul a:focus > span > span,
.archive-module a:focus > span > span,
.categories-module a:focus > span > span,
.unstyled a:active > span > span,
.list1 a:active > span > span,
.list1 ul a:active > span > span,
.archive-module a:active > span > span,
.categories-module a:active > span > span,
.unstyled a.active > span > span,
.list1 a.active > span > span,
.list1 ul a.active > span > span,
.archive-module a.active > span > span,
.categories-module a.active > span > span,
.unstyled a.selected > span > span,
.list1 a.selected > span > span,
.list1 ul a.selected > span > span,
.archive-module a.selected > span > span,
.categories-module a.selected > span > span {
  color: #0C73B8;
  opacity: 1;
  left: 0;
}
/*	menu	*/
.navigation ul.sf-menu {
  /*SubMenu Styles*/
}
.navigation ul.sf-menu > li.active > a > span > span,
.navigation ul.sf-menu > li.sfHover > a > span > span,
.navigation ul.sf-menu > li.current > a > span > span,
.navigation ul.sf-menu > li.active > span > span > span,
.navigation ul.sf-menu > li.sfHover > span > span > span,
.navigation ul.sf-menu > li.current > span > span > span {
  opacity: 0;
}
.navigation ul.sf-menu > li.active > a > span > strong,
.navigation ul.sf-menu > li.sfHover > a > span > strong,
.navigation ul.sf-menu > li.current > a > span > strong,
.navigation ul.sf-menu > li.active > span > span > strong,
.navigation ul.sf-menu > li.sfHover > span > span > strong,
.navigation ul.sf-menu > li.current > span > span > strong {
  opacity: 1;
  height: 100%;
  width: 100%;
}
.navigation ul.sf-menu > li.active > a > span > span,
.navigation ul.sf-menu > li.sfHover > a > span > span,
.navigation ul.sf-menu > li.current > a > span > span,
.navigation ul.sf-menu > li.active > span > span > span,
.navigation ul.sf-menu > li.sfHover > span > span > span,
.navigation ul.sf-menu > li.current > span > span > span {
  color: #0C73B8;
  opacity: 1;
  left: 0;
  top: 0;
}
.navigation ul.sf-menu > li > a > span > span,
.navigation ul.sf-menu > li > span > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
}
.navigation ul.sf-menu > li > a > span > strong,
.navigation ul.sf-menu > li > span > span > strong {
  display: block;
  color: #0C73B8;
  font-weight: inherit;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
.navigation ul.sf-menu > li > a:hover > span > span,
.navigation ul.sf-menu > li > span:hover > span > span,
.navigation ul.sf-menu > li > a:focus > span > span,
.navigation ul.sf-menu > li > span:focus > span > span,
.navigation ul.sf-menu > li > a:active > span > span,
.navigation ul.sf-menu > li > span:active > span > span,
.navigation ul.sf-menu > li > a.active > span > span,
.navigation ul.sf-menu > li > span.active > span > span,
.navigation ul.sf-menu > li > a.selected > span > span,
.navigation ul.sf-menu > li > span.selected > span > span {
  opacity: 0;
  top: -6px;
}
.navigation ul.sf-menu > li > a:hover > span > strong,
.navigation ul.sf-menu > li > span:hover > span > strong,
.navigation ul.sf-menu > li > a:focus > span > strong,
.navigation ul.sf-menu > li > span:focus > span > strong,
.navigation ul.sf-menu > li > a:active > span > strong,
.navigation ul.sf-menu > li > span:active > span > strong,
.navigation ul.sf-menu > li > a.active > span > strong,
.navigation ul.sf-menu > li > span.active > span > strong,
.navigation ul.sf-menu > li > a.selected > span > strong,
.navigation ul.sf-menu > li > span.selected > span > strong {
  opacity: 1;
}
.navigation ul.sf-menu > li > a > span > strong,
.navigation ul.sf-menu > li > span > span > strong {
  display: none;
}
.navigation ul.sf-menu > li > a:hover > span > span,
.navigation ul.sf-menu > li > span:hover > span > span,
.navigation ul.sf-menu > li > a:focus > span > span,
.navigation ul.sf-menu > li > span:focus > span > span,
.navigation ul.sf-menu > li > a:active > span > span,
.navigation ul.sf-menu > li > span:active > span > span,
.navigation ul.sf-menu > li > a.active > span > span,
.navigation ul.sf-menu > li > span.active > span > span,
.navigation ul.sf-menu > li > a.selected > span > span,
.navigation ul.sf-menu > li > span.selected > span > span {
  color: #0C73B8;
  opacity: 1;
  top: 0;
}
.navigation ul.sf-menu ul > li > a,
.navigation ul.sf-menu ul > li > span {
  position: relative;
  display: block;
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  perspective: 700px;
}
.navigation ul.sf-menu ul > li > a > span,
.navigation ul.sf-menu ul > li > span > span {
  position: relative;
  display: block;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #171616;
  color: #e6e6e6;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform-origin: 50% 50% -87.5px;
  -o-transform-origin: 50% 50% -87.5px;
  -moz-transform-origin: 50% 50% -87.5px;
  -webkit-transform-origin: 50% 50% -87.5px;
  -ms-transform-origin: 50% 50% -87.5px;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.navigation ul.sf-menu ul > li > a strong,
.navigation ul.sf-menu ul > li > span strong {
  display: block;
  font-weight: inherit;
  color: #ffffff;
  position: absolute;
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 100%;
  background: #b3350c;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
}
.navigation ul.sf-menu ul > li > a:hover,
.navigation ul.sf-menu ul > li > span:hover,
.navigation ul.sf-menu ul > li > a:focus,
.navigation ul.sf-menu ul > li > span:focus,
.navigation ul.sf-menu ul > li > a:active,
.navigation ul.sf-menu ul > li > span:active,
.navigation ul.sf-menu ul > li > a.active,
.navigation ul.sf-menu ul > li > span.active,
.navigation ul.sf-menu ul > li > a.selected,
.navigation ul.sf-menu ul > li > span.selected {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navigation ul.sf-menu ul > li > a:hover > span,
.navigation ul.sf-menu ul > li > span:hover > span,
.navigation ul.sf-menu ul > li > a:focus > span,
.navigation ul.sf-menu ul > li > span:focus > span,
.navigation ul.sf-menu ul > li > a:active > span,
.navigation ul.sf-menu ul > li > span:active > span,
.navigation ul.sf-menu ul > li > a.active > span,
.navigation ul.sf-menu ul > li > span.active > span,
.navigation ul.sf-menu ul > li > a.selected > span,
.navigation ul.sf-menu ul > li > span.selected > span {
  background: #000000;
  transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
}
.navigation ul.sf-menu ul > li > a:hover strong,
.navigation ul.sf-menu ul > li > span:hover strong,
.navigation ul.sf-menu ul > li > a:focus strong,
.navigation ul.sf-menu ul > li > span:focus strong,
.navigation ul.sf-menu ul > li > a:active strong,
.navigation ul.sf-menu ul > li > span:active strong,
.navigation ul.sf-menu ul > li > a.active strong,
.navigation ul.sf-menu ul > li > span.active strong,
.navigation ul.sf-menu ul > li > a.selected strong,
.navigation ul.sf-menu ul > li > span.selected strong {
  background: #0C73B8;
}
.navigation ul.sf-menu ul > li > a strong,
.navigation ul.sf-menu ul > li > span strong {
  display: none !important;
  height: 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
  padding: 0;
}
.navigation ul.sf-menu ul > li > a:hover > span,
.navigation ul.sf-menu ul > li > span:hover > span,
.navigation ul.sf-menu ul > li > a:focus > span,
.navigation ul.sf-menu ul > li > span:focus > span,
.navigation ul.sf-menu ul > li > a:active > span,
.navigation ul.sf-menu ul > li > span:active > span,
.navigation ul.sf-menu ul > li > a.active > span,
.navigation ul.sf-menu ul > li > span.active > span,
.navigation ul.sf-menu ul > li > a.selected > span,
.navigation ul.sf-menu ul > li > span.selected > span {
  transform: rotateY(0);
  -o-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  background: #0C73B8;
  color: #ffffff;
}
.navigation ul.sf-menu ul > li.active > a,
.navigation ul.sf-menu ul > li.sfHover > a,
.navigation ul.sf-menu ul > li.active > span,
.navigation ul.sf-menu ul > li.sfHover > span {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navigation ul.sf-menu ul > li.active > a > span,
.navigation ul.sf-menu ul > li.sfHover > a > span,
.navigation ul.sf-menu ul > li.active > span > span,
.navigation ul.sf-menu ul > li.sfHover > span > span {
  transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
}
.navigation ul.sf-menu ul > li.active > a strong,
.navigation ul.sf-menu ul > li.sfHover > a strong,
.navigation ul.sf-menu ul > li.active > span strong,
.navigation ul.sf-menu ul > li.sfHover > span strong {
  display: block;
  background: #0C73B8;
  color: #ffffff;
}
.navigation ul.sf-menu ul > li.active > a > span,
.navigation ul.sf-menu ul > li.sfHover > a > span,
.navigation ul.sf-menu ul > li.active > span > span,
.navigation ul.sf-menu ul > li.sfHover > span > span {
  transform: rotateY(0);
  -o-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  background: #0C73B8;
  color: #ffffff;
}
/*	slider	*/
.camera_caption .btn-slider {
  position: relative;
}
.camera_caption .btn-slider > span {
  position: relative;
  z-index: 3;
  display: block;
}
.camera_caption .btn-slider:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  opacity: 0;
  z-index: 1;
  background: #ffffff;
  transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.camera_caption .btn-slider:hover:before,
.camera_caption .btn-slider:focus:before,
.camera_caption .btn-slider:active:before,
.camera_caption .btn-slider.active:before,
.camera_caption .btn-slider.selected:before {
  opacity: 1;
  transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.camera_caption .btn-slider:before {
  display: none !important;
}
.camera_caption .btn-slider:hover:before,
.camera_caption .btn-slider:focus:before,
.camera_caption .btn-slider:active:before,
.camera_caption .btn-slider.active:before,
.camera_caption .btn-slider.selected:before {
  display: block !important;
}
.camera_pag .camera_pag_ul li {
  position: relative;
  display: inline-block;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}
.camera_pag .camera_pag_ul li > span {
  position: relative;
  display: inline-block;
  background: #ffffff;
  color: #ffffff;
  padding: 7px 14px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.camera_pag .camera_pag_ul li strong {
  display: block;
  font-weight: inherit;
  color: #0C73B8;
  position: absolute;
  padding: 7px 14px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3350c;
  transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.camera_pag .camera_pag_ul li:hover,
.camera_pag .camera_pag_ul li:focus,
.camera_pag .camera_pag_ul li:active,
.camera_pag .camera_pag_ul li.active,
.camera_pag .camera_pag_ul li.selected {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.camera_pag .camera_pag_ul li:hover > span,
.camera_pag .camera_pag_ul li:focus > span,
.camera_pag .camera_pag_ul li:active > span,
.camera_pag .camera_pag_ul li.active > span,
.camera_pag .camera_pag_ul li.selected > span {
  background: #d1d1d1;
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.camera_pag .camera_pag_ul li:hover strong,
.camera_pag .camera_pag_ul li:focus strong,
.camera_pag .camera_pag_ul li:active strong,
.camera_pag .camera_pag_ul li.active strong,
.camera_pag .camera_pag_ul li.selected strong {
  background: #0C73B8;
}
.camera_pag .camera_pag_ul li strong {
  display: none !important;
  height: 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
  padding: 0;
}
.camera_pag .camera_pag_ul li > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.camera_pag .camera_pag_ul li:hover > span,
.camera_pag .camera_pag_ul li:focus > span,
.camera_pag .camera_pag_ul li:active > span,
.camera_pag .camera_pag_ul li.active > span,
.camera_pag .camera_pag_ul li.selected > span {
  background: #0C73B8;
  color: #0C73B8;
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
}
.camera_pag .camera_pag_ul li.cameracurrent {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.camera_pag .camera_pag_ul li.cameracurrent > span {
  transform: rotateX(90deg) translateY(-50%);
  -o-transform: rotateX(90deg) translateY(-50%);
  -moz-transform: rotateX(90deg) translateY(-50%);
  -webkit-transform: rotateX(90deg) translateY(-50%);
  -ms-transform: rotateX(90deg) translateY(-50%);
}
.camera_pag .camera_pag_ul li.cameracurrent strong {
  display: block;
  background: #0C73B8;
  color: #0C73B8;
}
.camera_pag .camera_pag_ul li.cameracurrent > span {
  transform: rotateX(0) translateY(0);
  -o-transform: rotateX(0) translateY(0);
  -moz-transform: rotateX(0) translateY(0);
  -webkit-transform: rotateX(0) translateY(0);
  -ms-transform: rotateX(0) translateY(0);
  background: #0C73B8;
  color: #0C73B8;
}
/*	carousel 	*/
.caroufredsel_prev > span > span,
.caroufredsel_next > span > span {
  position: relative;
  opacity: 1;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
}
.caroufredsel_prev > span > strong,
.caroufredsel_next > span > strong {
  display: block;
  color: #0C73B8;
  font-weight: inherit;
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  pointer-events: none;
}
.caroufredsel_prev:hover > span > span,
.caroufredsel_next:hover > span > span,
.caroufredsel_prev:focus > span > span,
.caroufredsel_next:focus > span > span,
.caroufredsel_prev:active > span > span,
.caroufredsel_next:active > span > span,
.caroufredsel_prev.active > span > span,
.caroufredsel_next.active > span > span,
.caroufredsel_prev.selected > span > span,
.caroufredsel_next.selected > span > span {
  opacity: 0;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
.caroufredsel_prev:hover > span > strong,
.caroufredsel_next:hover > span > strong,
.caroufredsel_prev:focus > span > strong,
.caroufredsel_next:focus > span > strong,
.caroufredsel_prev:active > span > strong,
.caroufredsel_next:active > span > strong,
.caroufredsel_prev.active > span > strong,
.caroufredsel_next.active > span > strong,
.caroufredsel_prev.selected > span > strong,
.caroufredsel_next.selected > span > strong {
  height: 100%;
}
/*	footer	*/
.privacy_link > span > span,
.location a > span > span {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
}
.privacy_link > span > strong,
.location a > span > strong {
  display: block;
  color: #0C73B8;
  font-weight: inherit;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
.privacy_link:hover > span > span,
.location a:hover > span > span,
.privacy_link:focus > span > span,
.location a:focus > span > span,
.privacy_link:active > span > span,
.location a:active > span > span,
.privacy_link.active > span > span,
.location a.active > span > span,
.privacy_link.selected > span > span,
.location a.selected > span > span {
  opacity: 0;
  left: 10px;
}
.privacy_link:hover > span > strong,
.location a:hover > span > strong,
.privacy_link:focus > span > strong,
.location a:focus > span > strong,
.privacy_link:active > span > strong,
.location a:active > span > strong,
.privacy_link.active > span > strong,
.location a.active > span > strong,
.privacy_link.selected > span > strong,
.location a.selected > span > strong {
  opacity: 1;
}
.privacy_link > span > strong,
.location a > span > strong {
  display: none;
}
.privacy_link:hover > span > span,
.location a:hover > span > span,
.privacy_link:focus > span > span,
.location a:focus > span > span,
.privacy_link:active > span > span,
.location a:active > span > span,
.privacy_link.active > span > span,
.location a.active > span > span,
.privacy_link.selected > span > span,
.location a.selected > span > span {
  color: #0C73B8;
  opacity: 1;
  left: 0;
}
.social li a > span {
  position: relative;
}
.social li a > span > span {
  position: relative;
  z-index: 3;
  display: block;
}
.social li a > span:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  background: #0C73B8;
  transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.social li a > span:hover:before,
.social li a > span:focus:before,
.social li a > span:active:before,
.social li a > span.active:before,
.social li a > span.selected:before {
  opacity: 1;
  transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.social li a > span:before {
  display: none !important;
}
.social li a > span:hover:before,
.social li a > span:focus:before,
.social li a > span:active:before,
.social li a > span.active:before,
.social li a > span.selected:before {
  display: block !important;
}
/*	scroll top top 	*/
#back-top a {
  position: relative;
}
#back-top a > span {
  position: relative;
  z-index: 3;
  display: block;
}
#back-top a:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  background: #0C73B8;
  transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#back-top a:hover:before,
#back-top a:focus:before,
#back-top a:active:before,
#back-top a.active:before,
#back-top a.selected:before {
  opacity: 1;
  transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
#back-top a:before {
  display: none !important;
}
#back-top a:hover:before,
#back-top a:focus:before,
#back-top a:active:before,
#back-top a.active:before,
#back-top a.selected:before {
  display: block !important;
}
html,
body {
  min-width: 980px;
}
#section-kmt .kmt-form-content .kmt-form-addon > div .input.kmt-location {
  max-width: 1000px !important;
}
.gallery-item.gallery-grid .view .mask,
.gallery-item.gallery-grid .view .content {
  display: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;
}
.gallery-item.gallery-grid .view:hover .mask,
.gallery-item.gallery-grid .view:hover .content {
  display: block;
}
*[data-stellar-background-ratio] {
  background-position-x: 50% !important;
}
ul#grid-list {
  white-space: nowrap;
}
.fancybox-next span {
  width: 100px;
  margin-right: 40px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.7071067811865476, M12=-0.7071067811865474, M21=0.7071067811865474, M22=-0.7071067811865476, SizingMethod='auto expand')";
}
.fancybox-next span:before {
  left: 0;
}
.fancybox-prev span {
  width: 100px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865482, M12=0.7071067811865466, M21=-0.7071067811865466, M22=0.7071067811865482, SizingMethod='auto expand')";
}
.fancybox-prev span:before {
  left: 0;
}
.camera_wrap .camera_caption h1 {
  font-size: 36px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.camera_wrap .camera_caption {
  top: 400px;
}
.camera_wrap .camera_caption p {
  padding: 0 0 20px 0;
}
.logo-big.moduletable {
  top: 130px;
}
.navigation ul.sf-menu > li > a:before,
.navigation ul.sf-menu > li > a > span:before,
.navigation ul.sf-menu > li > a > span:after {
  display: none;
}
.navigation ul.sf-menu > li.active > a:before,
.navigation ul.sf-menu > li.sfHover > a:before,
.navigation ul.sf-menu > li.current > a:before,
.navigation ul.sf-menu > li.active > a > span:before,
.navigation ul.sf-menu > li.sfHover > a > span:before,
.navigation ul.sf-menu > li.current > a > span:before,
.navigation ul.sf-menu > li.active > a > span:after,
.navigation ul.sf-menu > li.sfHover > a > span:after,
.navigation ul.sf-menu > li.current > a > span:after {
  display: block;
}
.body__home {
  height: 3340px;
}
.item_img a:before,
.item_img a:after {
  display: none;
}
