.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*== 1200px and beyond ===================================================
========================================================================*/
/* Large desktop */
@media (max-width: 1730px) {
  .camera_wrap .camera_caption h1 {
    font-size: 36px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .camera_wrap .camera_caption {
    top: 400px;
  }
  .camera_wrap .camera_caption p {
    padding: 0 0 20px 0;
  }
  .logo-big.moduletable {
    top: 130px;
  }
}
/*== Up to 1200px =====================================================
========================================================================*/
/* Large desktop */
@media (max-width: 1200px) {
  #contact_map {
    height: 376px;
  }
  .row-fluid {
    margin-left: -20px;
  }
  .row-fluid [class*="itemSpan"],
  .row-fluid [class*="span"] {
    padding-left: 20px;
  }
  .fluid {
    margin-left: -20px;
  }
  .jg_gallery {
    margin-left: -20px;
  }
  .jg_gallery .gallery-grid {
    padding-left: 20px;
  }
  .jg_row {
    margin-left: -20px;
  }
  .jg_subcatelem_cat,
  .jg_subcatelem_cat_r {
    padding-left: 20px;
  }
  .welcome p {
    padding-left: 0;
    padding-right: 0;
  }
  .news p {
    display: none;
  }
  .news .item_content {
    right: 0;
  }
  .news h4 {
    padding-bottom: 20px;
  }
  .testimon .item_content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .testimon .caroufredsel_prev {
    left: 20px;
  }
  .testimon .caroufredsel_next {
    right: 0px;
  }
}
/*== Up to 980px ======================================================
========================================================================*/
/* Narrow desktop */
@media (max-width: 979px) {
  .thumbnails {
    margin-left: -12px;
  }
  .thumbnails > li {
    margin-left: 12px;
  }
  .navigation ul.sf-menu > li {
    margin-right: 24px;
  }
  .navigation ul.sf-menu {
    margin-left: 0;
  }
  .place .item_img {
    float: none;
    margin-right: 0;
  }
  h2,
  h3 {
    font-size: 28px;
  }
  h2.visible-first:after,
  h3.visible-first:after {
    width: 230px;
    margin-left: -115px;
  }
  .gallery_desc p {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 6px;
  }
  .body__404 .big-404 {
    font-size: 160px;
    line-height: 220px;
  }
  /*footer*/
  #back-top {
    display: none !important;
  }
  .row-fluid {
    margin-left: -12px;
  }
  .row-fluid [class*="itemSpan"],
  .row-fluid [class*="span"] {
    padding-left: 12px;
  }
  .fluid {
    margin-left: -12px;
  }
  .jg_gallery {
    margin-left: -12px;
  }
  .jg_gallery .gallery-grid {
    padding-left: 12px;
  }
  .jg_row {
    margin-left: -12px;
  }
  .jg_subcatelem_cat,
  .jg_subcatelem_cat_r {
    padding-left: 12px;
  }
}
/*== Up to 980px and beyond 768px ======================================
========================================================================*/
/* Portrait tablet to landscape and desktop */
/*== Up to 767px ======================================================
========================================================================*/
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  body .row-container {
    padding: 0 20px;
  }
  #showcase-row .row-container,
  #footer-row .row-container {
    padding-left: 0;
    padding-right: 0;
  }
  .logo-big.moduletable.span12 {
    width: 100%;
  }
  .camera_wrap .camera_caption p {
    display: none !important;
  }
  .location .bg {
    float: none;
  }
  .about_us .item,
  .dropcap .item {
    padding-bottom: 30px;
  }
  .camera_wrap .camera_caption h1 {
    font-size: 30px;
  }
  .news .item {
    max-width: 100%;
  }
  #wrapper {
    margin: 0;
  }
  #footer-wrapper {
    height: auto;
  }
  #push {
    display: none;
  }
  #logo {
    text-align: center;
  }
  #logo a {
    margin: 0;
  }
  .nav.menu.pull-right.nav-pills {
    float: none;
    text-align: center;
  }
  .nav.menu.pull-right.nav-pills li {
    float: none;
    display: inline-block;
  }
  .social {
    text-align: left;
    padding: 10px 0;
  }
  /*content*/
  [class*="cols"] [class*="span"] {
    width: 100%;
  }
  .item-image.blog-image {
    float: none;
    margin: 0 0 20px 0;
  }
  .row-fluid [class*="itemSpan"],
  .row-fluid [class*="span"] {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
  }
  /*gallery*/
  .page-gallery ul.gallery .gallery-grid {
    width: 48.5%;
    max-width: 48.5%;
  }
  .jg_gallery {
    margin-right: 0;
  }
  .jg_gallery .gallery-grid {
    width: 50%;
    max-width: 50%;
  }
  .page-gallery ul.gallery .gallery-grid .view .item_img {
    max-width: 100%;
  }
  .page-gallery ul.gallery .gallery-grid .view .item_img a {
    display: block;
  }
  .img-full__left.span5 {
    width: 50%;
  }
  /*contact*/
  .contact_details .contact_details_item {
    width: 30%;
    float: left;
  }
  .page-gallery ul.gallery .gallery-grid .view {
    margin: 0 auto;
  }
  .page-gallery ul.gallery .gallery-grid .view .item_img {
    float: none;
    margin: 0 !important;
  }
  /*Modules*/
  /*search*/
  .mod-search__aside .mod-search_searchword {
    width: 50%;
  }
  /*login*/
  .mod-login__aside .mod-login_username,
  .mod-login__aside .mod-login_passwd {
    width: 50%;
  }
  #back-top {
    display: none !important;
  }
  .jg_subcatelem_cat,
  .jg_subcatelem_cat_r {
    width: 50%;
    max-width: 50%;
  }
  .jg_row {
    margin-right: 0;
  }
}
/*== Up to 640px ==================================================
====================================================================*/
@media (max-width: 640px) {
  /*contact*/
  .contact_details {
    margin-bottom: 24px;
  }
  .contact_details .contact_details_item {
    width: 100%;
    float: none;
  }
  ul#order {
    float: none;
  }
}
/*== Up to 480px ==================================================
====================================================================*/
/* Landscape phones and down */
@media (max-width: 479px) {
  /*contact*/
  .contact_form {
    width: 100%;
  }
  /*registration*/
  .page-registration form input,
  .page-remind form input,
  .page-reset form input,
  .page-login form input,
  .page-login form input,
  .page-profile__edit form input,
  .page-registration form select,
  .page-remind form select,
  .page-reset form select,
  .page-login form select,
  .page-login form select,
  .page-profile__edit form select {
    width: 100%;
  }
  .page-registration form label,
  .page-remind form label,
  .page-reset form label,
  .page-login form label,
  .page-login form label,
  .page-profile__edit form label {
    display: inline-block;
  }
  /* pagination */
  .pagination ul li {
    display: none;
  }
  .pagination ul li.pagination-prev,
  .pagination ul li.pagination-next {
    display: inline-block;
  }
  /*gallery*/
  .page-gallery .item_img.img-intro {
    float: none;
    margin: 0 0 24px 0;
  }
  .page-gallery ul.gallery .gallery-item {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .page-gallery ul.gallery .gallery-item .item_img {
    float: none;
    margin: 0 auto 24px !important;
    max-width: 100%;
  }
  .page-gallery ul.gallery .gallery-item .item_img img {
    width: 100%;
  }
  .page-gallery ul.gallery .gallery-item a.zoom {
    display: block;
  }
  .jg_gallery .gallery-grid {
    width: 100%;
    max-width: 100%;
  }
  .jg_gallery .gallery-grid .lazy_container {
    width: 100% !important;
  }
  .jg_subcatelem_cat,
  .jg_subcatelem_cat_r {
    width: 100%;
    max-width: 100%;
  }
  .jg_subcatelem_cat .lazy_container,
  .jg_subcatelem_cat_r .lazy_container {
    width: 100% !important;
  }
  .img-full__left.span5 {
    width: 100%;
    margin-right: 0;
  }
  /*blog*/
  .item_img {
    float: none;
    margin: 0 0 24px 0;
    max-width: 100%;
  }
  /*archive*/
  .page-archive_filters select {
    display: block;
    width: 100%;
  }
  /*contact*/
  .contact_details .contact_details_item {
    width: 100%;
    float: none;
  }
  /*Modules*/
  /*search*/
  .mod-search__aside .mod-search_searchword {
    width: 100%;
  }
  /*login*/
  .mod-login__aside .mod-login_userdata {
    width: 100%;
    overflow: hidden;
  }
  .mod-login__aside .mod-login_username,
  .mod-login__aside .mod-login_passwd {
    width: 100%;
  }
  div.modal {
    position: absolute;
  }
  #error input {
    width: 200px;
  }
}
/*== Up to 340px =====================================================
========================================================================*/
/* Portrait phones */
@media (max-width: 340px) {
  h2,
  h3 {
    font-size: 24px;
  }
}
