// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

.mod_caroufredsel{
  overflow: hidden;
}

.caroufredsel_wrapper{
  cursor: auto !important;
}

.list_carousel {
  padding: 0;
  width: auto;
  position: relative;
  margin: 0 0 0 -@gridGutterWidth1200;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0 0 0 @gridGutterWidth1200;
      margin: 0;
      display: block;
      float: left;
    }
  }
} 

@media (max-width: 1200px) {
  .list_carousel {
    margin: 0 0 0 -@gridGutterWidth;
    ul {
      li {
        padding: 0 0 0 @gridGutterWidth;
      }
    }
  }
}



@media (max-width: 979px) {
  .list_carousel {
    margin: 0 0 0 -@gridGutterWidth768;
    ul {
      li {
        padding: 0 0 0 @gridGutterWidth768;
      }
    }
  }
}

.clearfix {
  float: none;
  clear: both;
}

/*Navigation*/

.caroufredsel_prev,
.caroufredsel_next{
  position: absolute;
  top: 50%;
  display: block;
  height: 36px;
  width: 36px;
  margin: -18px 0 0 0;
  text-align: center;
   font:36px/1em @font2; 
   color:#bababa;
  &:hover{
  }
  span{
    display: block;
    cursor: pointer;
  }
}

.caroufredsel_prev{
  left: @gridGutterWidth1200;
}

.caroufredsel_next{
  right: 0;
}

/*Pagination*/

.caroufredsel_pagination{
  text-align: center;
  a{
    display: inline-block;
    padding: 0 0.5em;
  }
}