
@import "variables.less";

/*======================= TYPOGRAPHY =======================*/

h1, h2, h3, h4, h5, h6{
  a.custom_hover{
	.hover-up(@linkColor);
  }
}
h4{
  a.custom_hover{.hover-up(@col2);}
}
h5, .page-category__all-menu .item_title{
  a.custom_hover{.hover-up(@col2);}
}


/*	button	*/

.btn{
	.hover-cub-vert(@btnBackground, @btnColor, @btnActBackground, @btnColorHighlight, 4px 18px 6px, 800px);
}

.newsletter .btn{.hover-cub-vert(#000, @btnColor, @col2, @btnColorHighlight, 5px 18px 5px, 800px);}

/*	pagination	*/

.pagination{
	.pagenav{.hover-cub-vert(@paginationBackground, @paginationLink, @paginationActiveBackground, @paginationLinkAct, 3px 14px, 700px);}
	span.pagenav{
		.active-cub-vert(@paginationActiveBackground, @paginationLinkAct);
	}
	.pagination-start,
    .pagination-prev,
    .pagination-next,
    .pagination-end{
        span.pagenav,
        .span.hasTooltip{
		  .active-cub-vert(#343232, @paginationSpan);
		}
	}
}

/*	Lists	*/

.unstyled,
.list1,
.list1  ul,
.archive-module,
.categories-module{
  a{
	.hover-right(@linkColorHover,10px);
  }
}

/*	menu	*/

.navigation{
  ul.sf-menu{
    >li{
      &.active, &.sfHover, &.current{
        >a,
        >span{
		  .active-link(@menuItemColorAct);
        }
      }
      >a, >span{
		 .hover-up(@menuItemColorAct); 
      }
    }
    /*SubMenu Styles*/
    ul{
      >li{
        > a,
        > span{
		  .hover-cub-hor(@subMenuItemBgColor, @subMenuItemColor, @subMenuItemBgColorAct, @subMenuItemColorAct, 6px 12px, @menuItemWidth, 700px);
        }
        &.active,
        &.sfHover{
          >a,
          >span{
		  	.active-cub-hor(@subMenuItemBgColorAct, @subMenuItemColorAct);
          }
        }
      }
    }
  }
}

/*	slider	*/

.camera_caption .btn-slider{.hover-fill-out(#fff,0,0); }
.camera_pag .camera_pag_ul li{.hover-cub-vert(#fff, #fff, @col2, @col2, 7px 14px, 200px);
	&.cameracurrent{.active-cub-vert(@col2, @col2);}
}

/*	carousel 	*/

.caroufredsel_prev, .caroufredsel_next{.hover-fill(@col2);}


/*	footer	*/

.privacy_link, .location a{ .hover-right(@col2,10px);}

.social {
  li{
    a{
	  > span{
		  .hover-fill-out(@col2);
	  }
    }
  }
}

/*	scroll top top 	*/

#back-top{
	a{.hover-fill-out(@col2);}
}