// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";
@import "bootstrap.less";
@import "default.less";

a{ .transition(all 0.5s ease);}
.custom_hover{
	strong{ display:none;}
}

/*======================= TYPOGRAPHY =======================*/

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom:0;
  position:relative;
  a.custom_hover{
    color: inherit;
  }
}

h1{ font:68px/1em @font2; color:@col1; padding:0 0 30px; font-weight:normal; text-transform:uppercase; text-align:center;}
h2,
h3{ font:36px/36px @font2; color:@col1; padding:0 0 32px 0; font-weight: normal; text-transform: uppercase; text-align:center; margin-bottom:29px;
	&:after{ content:""; position:absolute; bottom:0; left:50%; background:url(../images/title-bg.png) 0 0 no-repeat; width:0px; height:11px; margin-left:-0px; background-size:100% 100%; .transition(all 0.5s ease);}
	&.visible-first:after{width:278px;margin-left:-139px;}
}
.kmt-author:after{ display:none;}
h4{ font:20px/24px @font1; color:@col1; padding:0 0 10px 0; font-weight:900;}
h5{ font:18px/24px @font2; color:@col1; font-weight:normal; padding: 0 0 0 0;}
h6{}

legend{}
dt.result-title{}

body{ background:@col1;}

.alert-heading{color: inherit;}

p{
  margin: 0;
  padding-bottom: @baseLineHeight;
}

.icons-marker{
  font-size: 1.2 * @baseFontSize;
  line-height: @baseLineHeight;
}

/*Buttons*/

  // .buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {

.buttonBackgroundAlt(@bgColor, @textColor){
  background: @btnBackground;
  color: @btnColor;
  text-shadow: none;
}

.btn {
  margin-bottom:10px;
  padding:0;
  font-size: @btnFontSize;
  font-family:@font1;
  text-transform:capitalize;
  line-height: @btnLineHeight;
  font-weight:900;
  .border-radius(0px);
  .box-shadow(none);
  background:none;
  border: none;
  .transition(all 0.4s ease); 
  .fa{
    margin-left: 3px;
    margin-right: 3px;
  }
  // Hover state
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.selected {
    text-decoration: none;
    //color: @btnColorHighlight;
	border:none;
	background:none;
    strong{
      .fa{
        opacity: 0.8;
      }  
    }
  }
  &.disabled{
    cursor: default !important;
	pointer-events: none;
  }
}
input.btn{background: @btnBackground; padding:4px 18px 6px;
	&:hover{background: @btnActBackground;}
}
.btn.dropdown-toggle{
	.caret{ border-top-color:#fff;}
}

/*
.btn-primary,
.btn-small{
  // .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryColor, none);
  .buttonBackgroundAlt(@btnPrimaryBackground, @btnPrimaryColor);
  border: 1px solid @btnPrimaryBorder;
  border-bottom-color: @btnPrimaryBorder;
  outline: none !important;
  &:hover {
    background: @btnActPrimaryBackground;
    color: @btnPrimaryColorHighlight;
  }
  &.submitButton{
    float: right;
  }
  &.disabled{
    background: @btnActPrimaryBackground;
    color: @btnPrimaryColorHighlight;
    .opacity(100);
  }
  &:focus,&:active{
    // .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryColor, none);
    .buttonBackgroundAlt(@btnPrimaryBackground, @btnPrimaryColor);
    &:hover {
      background: @btnActPrimaryBackground;
      color: @btnPrimaryColorHighlight;
    }
  }
}

.btn-info{
  // .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight, @btnInfoColor, none);
  .buttonBackgroundAlt(@btnInfoBackground, @btnInfoColor);
  border: 1px solid @btnInfoBorder;
  border-bottom-color: @btnInfoBorder;
  outline: none !important;
  &:hover {
    background: @btnActInfoBackground;
    color: @btnInfoColorHighlight;
  }
  &:focus,
  &:active{
    // .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight, @btnInfoColor, none);
    .buttonBackgroundAlt(@btnInfoBackground, @btnInfoColor);
    &:hover {
      background: @btnActInfoBackground;
      color: @btnInfoColorHighlight;
    }
  }
}
*/

// Search button

#searchForm{
  .btn.btn-primary{ margin-top:0px;
  }
}

#jform_profile_dob_img{ margin-top:0px; margin-left:5px;}

#Kunena div.input span, #Kunena span.input span, #Kunena td.input span{ padding: 0 !important;}
#Kunena div.input .btn> span, #Kunena span.input .btn> span, #Kunena td.input .btn> span{ display: inline-block !important; padding: 4px 18px 6px !important;}

.close{
  position:relative;
  z-index:2;
}

.btn.jmodedit{
  &:hover,
  &:focus,
  &:active{
    > span{
	  background:@col2;
      .transform(rotateX(0deg) translateY(0px));
    }
  }
}

/*Lists*/

ul, ol{ margin:0;}

li{
  list-style-type: none;
}

.unstyled,
.list1,
.list1  ul,
.archive-module,
.categories-module{
  margin: 0;
  li{
    padding-bottom: 8px;
	margin-left:20px;
    position: relative;
	font:16px/24px @font1;
  }
  a{
    color: @linkColor;
	&:before{ content:""; position:absolute; top:6px; left:-20px; background:url(../images/star1.png) 0 0 no-repeat; width:11px; height:10px;}
    >span{
		span, strong{
			&:before{
			}
		}
	}
  }
}

/*Pagination*/

.pagination{
  height: auto;
  margin: 0;
  padding: 0 0 50px;
  ul{
    .border-radius(0);
    border: none;
    box-shadow: none;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    li{
      display: inline-block;
      margin-right: 2px;
      .pagenav,
      .hasTooltip{
        padding: 0;
        text-transform: none;
        .border-radius(0) !important;
        box-shadow: none;
        border: none;
      }
    } 
  }
}

/*Forms*/

input[type='radio'],
input[type='checkbox'] {
  margin: -2px 0 0;
}

/* Images */


.item_img,
.category_img{
  margin: 0 0 15px;
  position: relative;
}
.img-full{ float:left; margin-right:20px; max-width:50%;}
.lazy_container{
  display: inline-block;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background: url(../images/camera-loader.gif) 50% 50% no-repeat #fff;
  &.lazyloaded{
    background: none;
  }
  .lazy_preloader{
    height: 0;
    display: inline-block;
    width: 100%;
  }
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.item_img{
  font-size: 0;
  line-height: 0;
  position: relative;
    .lazy_container{
		&:after{ position:absolute; content:""; top:0; left:0; right:0; bottom:0; background:rgba(17,17,17,0.4);}
    }
  a{
    position: relative;
    display: inline-block;
    max-width: 100%;
      &:before,
      &:after{
        content: "";
        opacity:0;
        pointer-events: none;
        z-index:3;
        position:absolute;
        .box-sizing(border-box);
        .transition(all 0.5s ease);
        .box-shadow(none);
      }
      &:before{
        top:0px;
        left:0px;
        right:100%;
        bottom:100%;
		border:8px solid transparent;
        border-top-color:@col1;
        border-left-color:@col1;
      }
      &:after{
        left:100%;
        top:100%;
        bottom:0px;
        right:0px;
		border:8px solid transparent;
        border-bottom-color:@col1;
        border-right-color:@col1;
      }
    .BWfade{
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      bottom: 0 !important;
      display:block !important;
      z-index: 2;
      opacity: 0;
      .transition(all 0.5s linear); 
      .transform(scale(1.0));
    }
    img{
      .opacity(99);
      .transition(all 0.5s linear); 
      .transform(scale(1.0));
    }
    &:hover{
      .lazy_container{
        img,
        .BWfade{
          .transform(scale(1.1));
          opacity: 1;
        }
      }
        &:before{
          opacity: 1;
          bottom: 0px;
          right: 0px;
        }
        &:after{
          opacity: 1;
          top: 0px;
          left: 0px;
        }
    }
  }
}

.img-intro__left,
.img-full__left{
  float: left;
  margin: 0 18px 9px 0;
  max-width: 50%;
}
.img-intro__right,
.img-full__right{
  float: right;
  margin: 0 0 9px 18px;
  max-width: 50%;
}

// Well 

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  .border-radius(4px);
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
}

#system-message>div{
  margin: 20px 0;
}

// visible blocks

.item__module,
.item{
  .transition(all 0.8s ease);
  &.visible-first{
  }
}

/*======================= TOP =======================*/

.bg_top{ min-height:91px;}

#top-row{
  .row-container{}
}


/*======================= HEADER =======================*/

#header-row{
  .row-container{}
}

#logo{
  h1{
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    border:none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
  }
  a{
    position: relative;
	display:inline-block;
    max-width: 100%;
	img{.transition(all 0.5s ease); position:relative; z-index:2;}
    &:hover{
		img{
      		.transform(scale(1.05));
		}
    }
  }
}


/*======================= NAVIGATION =======================*/

#navigation-row{ 
  width: 100%;
  margin-top:0px;
  background:#f7f7f7;
  position:absolute;
  border-bottom:3px solid #dfdfdf;
  height:78px;
  padding-top:10px;
  .row-container{}
}

.body__home.view-category{
	#navigation-row{ 
		background:none;
  		margin-top:1px;
  		padding-top:9px;
  		border-bottom-color:rgba(255,255,255,0.4);
		.transition(all 0.5s ease);
		#logo a{ display:none;.transition(all 0.5s ease);}
		.navigation ul.sf-menu > li > a, .navigation ul.sf-menu > li > span{ color:#fff;.transition(all 0s ease);}
  		&.scroll-to-fixed-fixed{
			margin-top:0;
  			padding-top:10px;
			background:#f7f7f7;
			border-bottom-color:#dfdfdf;
			#logo a{ display: block;}
			.navigation ul.sf-menu > li > a, .navigation ul.sf-menu > li > span{ color:@col1;}			
		}
	}
}

.navigation{
  ul.sf-menu{ margin-left:-8px; padding-top:25px;
    >li{
      padding: 0;
      margin: 0 68px 0 0;
	  float:none;
	  display:inline-block;
      &.active, &.sfHover, &.current{
        >a,
        >span{
			&:before{ opacity:1;}
			>span{
				&:before{ opacity:1; margin-left:-20px;}
				&:after{ opacity:1; margin-left:8px;}
			}
        }
      }
      &.lastItem{
      }
      >a, >span{
        font-size:        @menuItemFontSize;
        line-height:      @menuItemLineHeight;
        font-family:      @menuItemFontFamily;
        color:            @menuItemColor;
        background:       @menuItemBgColor;
		font-weight:900;
		text-transform:uppercase;
		position:relative;
        display: inline-block;
        padding: 0 0;
        .border-radius(3px);
        .transition(all 0.5s ease);
		&:before{ content:""; position:absolute; bottom:-10px; left:50%; width:12px; height:11px; background: url(../images/star1.png) 0 0 no-repeat;  margin-left:-6px; opacity:0; .transition(all 0.4s ease);}
		> span{
			&:before{ content:""; position:absolute; bottom:-10px; left:50%; width:12px; height:11px; background: url(../images/star1.png) 0 0 no-repeat;  margin-left:-6px; opacity:0; .transition(all 0.4s ease);}
			&:after{ content:""; position:absolute; bottom:-10px; left:50%; width:12px; height:11px; background: url(../images/star1.png) 0 0 no-repeat; margin-left:-6px; opacity:0; .transition(all 0.4s ease);}			
		}
        &:hover{
			&:before{ opacity:1;}
			>span{
				&:before{ opacity:1; margin-left:-20px;}
				&:after{ opacity:1; margin-left:8px;}
			}
        }
      }
    }
    /*SubMenu Styles*/
    > li > ul{
      top:56px; /*Define 1st SubMenu position*/
	  left:50%;
	  margin-left:-@menuItemWidth/2;
	  &:before{ content:""; position:absolute; top:-30px; height:30px; width:100%; left:0;}
    }
    ul{
      width: @menuItemWidth; /*Define menu width*/
    }
    li li ul{ /*Define SubMenu position*/
      top:-12px;
      left:@menuItemWidth+1;
	  > li {
		> a,
        > span{ margin:0;}
	  }
    }
    li li li ul{ /*Define 2nd+ SubMenu position*/
      top:-12px;
      left:@menuItemWidth+1;
    }

    ul{
      background:@subMenuBg;
      padding:12px 0;
      .border-radius(0px);
      >li{
        &.open{
          >.sub-menu{
            display: block !important;
          }
        }
        > a,
        > span{
          font-size:      @subMenuItemFontSize;
          line-height:    @subMenuItemLineHeight;
          font-family:    @subMenuItemFontFamily;
          color:          @subMenuItemColor;
          background:     @subMenuItemBgColor;
          display: block;
          margin: 0;
		  text-transform: capitalize;
          text-decoration: none;
          .transition(all 0.5s ease);
          &:hover{
          }
        }
        &.active,
        &.sfHover{
          >a,
          >span{
          }
        }
        &.firstItem{
          border: none;
        }
      }
    }
    // Vertical Menu
    &.sf-vertical{
      width: @menuItemWidth;
      li{
        width: @menuItemWidth; 
        margin-bottom: 1px;
      }
      li:hover > ul,
      li.sfHover > ul{ /*Define 1st SubMenu position*/
        top: -13px;
      }
      ul{
        left: @menuItemWidth + 2;
        li{
          a,
          span{
            padding: 9px 12px;
          }
        }
      }
    }
    // Navbar menu
    &.sf-navbar{
      height: @menuItemLineHeight;
      padding-bottom: @menuItemLineHeight;
      margin-bottom: 2px;
      li:hover > ul,
      li.sfHover > ul{ /*Define 1st SubMenu position*/
        top: @menuItemLineHeight + 2;
        left: 0;
      }
      li{
        ul{
          width: auto;
          padding: 2px 0;
          ul.sub-menu{
            width: @menuItemWidth;
            top: @menuItemLineHeight;
          }
        }
      }
    }
  }
}



.masonry{
  .item{
    margin-left: 0 !important;
  }
}

/*======================= SHOWCASE =======================*/
 
#showcase-row{ position:relative;
  .row-container{ max-width:100%;}
  .container-fluid{ padding:0}
}

.mod-newsflash-adv{
  .isotope{
    margin: 0 -1.5%;
  }
  .isotope-item{
    padding: 0 1.5%;
    .box-sizing(border-box);
    margin: 0;
    float: left;
    &.straightDown{
      text-align: center;
    }
  }
}

.logo-big{ 
	&.moduletable{position:absolute; top:158px; text-align:center; width:100%; left:0; padding-left:0;}
	a{ display:inline-block;
		&:hover{ .transform(scale(1.05));}
	}
}


/*======================= FEATURE =======================*/

#feature-row{ 
  .row-container{}
}

/*======================= MAINTOP =======================*/

#maintop-row{
  .row-container{}
}

/*======================= CONTENT TOP =======================*/

#content-top-row{
  .row-container{}
}

/*======================= CONTENT =======================*/

.bg_cont{ padding-top:98px; background:#fff;
	.moduletable{ padding-bottom:52px;}
}

#content-row{
}

.welcome{ text-align:center;
	p{ padding-left:180px; padding-right:180px;}
	.item_img .lazy_container:after{ display:none;}
}

.news{
	&.moduletable{ padding-bottom:62px;}
	.item_box{ position:relative; overflow:hidden;.transition(all 1s ease);
		&:hover{
			.item_content{ bottom:-10px;}
		}
	}
	.item_content{ position:absolute; bottom:-69px; left:0; z-index:4;.box-sizing(border-box); padding:20px 20px 25px; background:@col1; background:rgba(17,17,17,0.6); .transition(all 0.5s ease);}
	p{ color:@col4;}
	.item_published{ padding-right:0; font-style:italic; color:@col2; padding-bottom:8px; display:block;
		&:before{ display:none;}
	}
	h4{ color:#fff;}
	.item_img{ margin-bottom:0;}
	.item{ padding-bottom:20px;}
}

.news .item_num0 .item_box{ left:-1500px; top:-500px;}
.news .item_num1 .item_box{ left:-2000px; top:-1000px;}
.news .item_num2 .item_box{ right:-1000px; top:-500px;}
.news .item_num3 .item_box{ left:-1500px; top:500px;}
.news .item_num4 .item_box{ right:-1500px; top:1000px;}
.news .item_num5 .item_box{ right:-1500px; top:500px;}


.news .visible-first{
	&.item_num0 .item_box{ left:0; top:0; right:0}
	&.item_num1 .item_box{ left:0; top:0; right:0}
	&.item_num2 .item_box{ left:0; top:0; right:0}
	&.item_num3 .item_box{ left:0; top:0; right:0}
	&.item_num4 .item_box{ left:0; top:0; right:0}
	&.item_num5 .item_box{ left:0; top:0; right:0}
}

.testimon{
	&.moduletable{ padding-bottom:64px;}
	.item_content{ padding-left:190px; padding-right:190px; text-align:center; padding-bottom:55px; position: relative;}
	h4{ position:absolute; bottom:0; left:0; width:100%;
		.item_title_part0{ padding-left:55px; background:url(../images/quot.png) 0 1px no-repeat;}
	}
	.caroufredsel_prev, .caroufredsel_next{ margin-top:-48px;}
	.caroufredsel_prev{ left:135px;}
	.caroufredsel_next{ right:117px;}
}

.content-links{ margin-bottom:20px;}

.about_us{}

.dropcap{
	.item_box{ position:relative; padding-left:88px;}
	span.dropcap{ position:absolute; top:0; left:0; width:62px; height:62px; font:30px/62px @font2; color:#fff; background:@col2; text-align:center;
		&:after{ content:""; position:absolute; top:50%; border:7px solid transparent; border-left-color:@col2; right:-14px; margin-top:-7px;}
	}
}

.place{
	h4{ display:inline-block;}
	.item_box{ padding-bottom:30px;}
}

.lr_social_login_basic_150 #lr_providers .lr_providericons{ z-index:1 !important;}
.lr_providericons{ .transition(all 0s ease);}




.page-category__team h4{ display:inline-block;}
.page-category .item, .page-blog .item{ padding-bottom:30px;}
.gallery{ padding-bottom:50px;
	&:after{ content:""; display:table-cell;}
}
.jg_detailnavi, .jg-footer{ display:none;}

.jg_subcatelem_photo, .jg_imgalign_catimgs{ 
	 .lazy_container, > a{ width:100% !important;}
}
.gallery_title h4{ color:#fff !important;}
#fancybox-thumbs ul li img{ height: auto !important;}
ul#sort li{ margin-right:5px;}
ul#order li{ margin-left:5px;}

.mod-search__aside .mod-search_searchword{ margin-bottom:10px;}

.contact_details_item h3{ text-align:left; margin-bottom:0;
	&:after{ display:none;}
}
.contact_details .icons-marker{ line-height:24px;}

.page-blog .item_title, .page-item__blog .item_title{}

.input-append .add-on, .input-prepend .add-on{ line-height:22px; height:22px;}

.kmt-form-submit .btn{ float:right;}

.item_info_dl{padding-top:0px;}

.fleft{ float:left; margin-right:20px;
	
}

.item_createdby{ padding-right:20px;
	&:before{ content:"\f007"; font:14px/18px FontAwesome;}
}
.item_published{ padding-right:20px; 
	&:before{ content:"\f133"; font:14px/18px FontAwesome;}
}
.item_hits{ padding-right:20px; 
	&:before{ content:"\f039"; font:14px/18px FontAwesome;}	
}
.komento a{
	&:before{ content:"\f0e5"; font:14px/18px FontAwesome; padding-right:4px;}	
}

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"]{ float:none;}


.page-item__blog, .page-registration, .page-remind, .page-contact, .page-reset, .com_kunena #component, .page-item{ padding-bottom:30px;}

.page-category__history, .page-category__team, .page-category__faqs, .page-category__testimonials, #Kunena{ padding-bottom:60px;}

.page-remind form label, .page-reset form label{ display:block;}

#component{
  min-height: 0;
}

.item{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.page-header{
  border: none;
  padding: 0;
  margin: 0;
}

.item_info_dl{
  margin: 0 0 @baseLineHeight;
  dd{
    margin: 0;
    display: inline;
    >*{
      display: inline;
    }
  }
}

.item_icons.btn-group.pull-right{
  margin: 0px 0 10px 10px;
  position: relative;
  z-index: 10;
  ul.dropdown-menu{
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
    li{
      padding: 0;
      float: none;
    }
  }
}

/*===== Testimonials Page ======*/

.page-category__testimonials{
  .item{
    margin-bottom: 30px;
  }
}

blockquote {
  padding: 0;
  margin: 0;
  border-left: none;
  p {
    margin-bottom: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    &:before{
      content: '"';
    }
    &:after{
      content: '"';
    }
  }
  small{
    text-align: right;
  }
}

/*===== Team Page ======*/

.page-category__team{
  .item_introtext{
    overflow: hidden;
  }
}

/*===== Blog Page ======*/

.tags{
  clear: both;
}

.addthis_toolbox{
  padding-top: @baseFontSize;
}

/*======================= CONTENT BOTTOM =======================*/

#content-bottom-row{
  .row-container{}
}

/*======================= ASIDE RIGHT =======================*/

.archive-module,
.categories-module,
.mod-menu .nav.menu,
.list1 ul{
  li{
    a{
      display: inline;
      &:hover{
        background: none;
      }
    }
  }
}

.tagspopular{
  ul{
    margin: 0;
    li{
      list-style: none;
      display: inline-block;
      padding: 0 15px 12px 0;
    }
  }
}

.content-links{
  ul{
    margin: 0;
    list-style: none;
  }
}

/*======================= MAINBOTTOM =======================*/

#mainbottom-row{ 
  .row-container{}
}


/*======================= BOTTOM =======================*/

#bottom-row{
  .row-container{}
}

/*======================= FOOTER =======================*/

#footer-row{
  .row-container{ max-width:100%;}
  .container-fluid{ padding:0;}
}

.map{ 
	&.moduletable{opacity:0.7; position:relative;}
}

.location{
	&.moduletable{ width:100%; position: absolute; left:0; top:0;}
	.mod-custom{}
	.bg{ position:absolute; top:97px; left:50%; margin-left:298px; width:268px; background:#000; background:rgba(17,17,17,0.6); .box-sizing(border-box); padding:21px 13px 2px;}
	p{ padding:7px 0 27px 52px; font-size:14px; font-weight:900;  color:#fff;
		a{ color:#fff; display:inline-block; position:relative;}
	}
	.address{ background:url(../images/icon-address.png) 0 0 no-repeat;}
	.phone{ background:url(../images/icon-phone.png) 0 0 no-repeat;}
	.mail{ background:url(../images/icon-mail.png) 0 0 no-repeat;}
}


#copyright-row{
  .row-container{}
}

#copyright{ font-size:13px; color:#fff; padding-bottom:19px; text-align:center; padding-top:39px;
  .year{
    &:after{
		content:"|";
		padding:0 0px 0 4px;
    }
  }
  a{ color:#fff; position:relative; display:inline-block;
  }
}

.footer-logo{ padding: 0 0 19px 0;
	a{ display:inline-block;
		&:hover{ .transform(scale(1.05));}
	}
}

#footer-wrapper{}

/*===== Social Media ======*/
.social{
	header{ float:right; padding-right:166px;
		h3{ font:12px/24px @font1; color:#bdbdbd; padding:11px 0 0 0; letter-spacing:0px;}
	}
}
.mod-menu__social {
  margin: 0 0 0 0;
  position:absolute; top:9px; right:-4px;
  li{
    margin: 0px 0px 0 8px;
    list-style-type: none;
    float: left;
    a{
      width: 26px;
      height: 26px;
      display: block;
      .border-radius(22px);
      .box-sizing(border-box);
      background: none;
      font-size: 12px;
      line-height:26px;
      text-align: center;
      color: #bdbdbd;
      .transition(all 0.5s ease);
      position:relative;
      &:hover{
        color: @bodyBackground;
      }
	  &:before{
		  position:relative;
		  z-index:4;
	  }
	  > span{ 
	  		position:absolute !important; 
			top:0; 
			left:0; 
			width:100%; 
			height:100%;
			&:before{
				z-index:1;
			}
	  }
	  	strong{
			display:block;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:5;
		}
    }
  }
}



@import "magnific-popup.less";
@import "komento.less";
@import "kunena.less";
@import "gallery.less";
@import "responsive.less";
@import "font-awesome/font-awesome.less";

@media print {  
  a{
    &:after{
      display: none !important;
    }
  }
}