﻿/**
 * JS Social Tabs Slider
 * @license    GNU/GPL http://www.gnu.org/copyleft/gpl.html
 * @link       http://facebooklikebox.net
 */


.social_slider a:hover {
	background-color:transparent;
	text-decoration: none;
}
.social_slider .tabs {
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
    display:inline-block;
}
  .social_slider .tab-links {
        position: absolute;
        width: 0px;
        top: 120px;
    }
   .social_slider .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 	
    /*----- Content of Tabs -----*/
 .social_slider .tab-content {
        background:#fff;
        float:left;
        width:370px;
    }

 .social_slider .tab-content .facebook_box {
	
	background-color: #fff;
	position: relative;
    z-index: 99998;
    height:100vh;
}
.social_slider .tab-links a.active {
	z-index:99999;
	position: relative;
}
 .social_slider .tab {
            display:none;
        }
 
       .social_slider .tab.active {
            display:block;
            ;
        }
.social_slider .tab-content .twitter_box {
	height:100vh;
	position: relative;
    z-index: 99998;
}
.social_slider .tab-content .twitter_box iframe{
    height: 100% !important;
}
.social_slider .tab-content .twitter_box #twitter-widget-0 { margin-bottom: -5px; }




