
.mot_testimonial {
    background: linear-gradient(#cef3ff, #b7edff) repeat scroll 0 0 #b7edff;
    border-radius: 5px;
    color: #666;
    font-family: Georgia,serif;
    font-style: italic;
    margin: 0;
    padding: 10px 35px;
    position: relative;
    text-shadow: 0 1px 0 #ecfbff;

}
 blockquote.mot_testimonial p
{
	font-size:14px ;
}
.mot_testimonial:before, .mot_testimonial:after {
    color: #999;
    content: "\201C";
    font-size: 25px;
    font-style: normal;
    line-height: 1;
    position: absolute;
}
.mot_testimonial:before {
    left: 10px;
    top: 5px;
}
.mot_testimonial:after {
    bottom: 0;
    content: "\201D";
    right: 10px;
}
.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #b7edff;
    height: 0;
    margin: 0 0 0 25px;
    width: 0;
}
.mot_testimonial-author {
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 0 0 25px;
    text-align: left;
}
.mot_testimonial-author span {
    color: #666;
    font-size: 12px;
}
span.mstars, span.mstars span {
    background: url("../images/stars.png") repeat-x scroll 0 -16px rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    width: 80px;
}
span.mstars span {
    background-position: 0 0;
}
a.submit_link {
    background: url("../images/submit.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0 141px 17px 0;
}
