/* Circular Content Carousel Style */
#j_content_wrapper .ca-container{
	position:relative !important;
	margin:25px auto 20px auto;
    z-index: 10;
}
#j_content_wrapper .ca-wrapper{
	width:100%;
	height:100%;
	position:relative !important;
}
#j_content_wrapper .ca-item{
	position:relative;
	float:left;
	width:605px;
	height:100%;
	text-align:left !important;
	margin:0 15px;
}
.testimonial .entry-thumbnail {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 4px;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.testimonial .entry-title:after {
    content: "";
    position: absolute;
    left: 130px !important;
    bottom: 0;
    height: 2px;
    width: 40px;
}
#j_content_wrapper .ca-more{
}
#j_content_wrapper .ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
#j_content_wrapper .ca-close:hover{
	opacity:1.0;
}
#j_content_wrapper .ca-item-main{
	/*padding:20px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);*/
}
#j_content_wrapper .ca-icon{
	width:233px;
	height:auto;
	position:relative;
	margin:0 auto;
    padding: 10px 0;
}

#j_content_wrapper .ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:20px;
	height:auto;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
#j_content_wrapper .ca-item h4{
/*	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;*/
}
#j_content_wrapper .ca-item h4 span{
	text-indent:40px;
	display:block;
}
#j_content_wrapper .ca-item h4  span.ca-quote{
	display:none;
/*	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
*/}
#j_content_wrapper .ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
#j_content_wrapper .ca-content{
	overflow:hidden;
}
#j_content_wrapper .ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
#j_content_wrapper .ca-content-text p{
	padding-bottom:5px;
}
#j_content_wrapper .ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
#j_content_wrapper .ca-content ul{
	margin:20px 20px;
	height:30px;
}
#j_content_wrapper .ca-content ul li{
	float:left;
	margin:0px 2px;
}
#j_content_wrapper .ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
#j_content_wrapper .ca-content ul li a:hover{
	background:none;
	color:#000;
	text-shadow:none;
}
#j_content_wrapper .ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
#j_content_wrapper .ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
#j_content_wrapper .ca-nav span:hover{
	opacity:1.0;
}