div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover{font-family: 'Arial';color: #0b0b0b;font-size:75%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;letter-spacing: 10px;word-spacing: normal;text-transform: uppercase;font-weight: bold;}
div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:FOCUS{}

div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading{background: #ffffff;background: RGBA(255,255,255,0);opacity:1;padding:0.4em 1em 0.4em 1em ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:Hover, div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:ACTIVE, div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:FOCUS{}

div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover{font-family: 'Arial';color: #0b0b0b;font-size:75%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;letter-spacing: 10px;word-spacing: normal;text-transform: uppercase;font-weight: bold;}
div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:FOCUS{}

div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading{background: #ffffff;background: RGBA(255,255,255,0);opacity:1;padding:0.4em 1em 0.4em 1em ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:Hover, div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:ACTIVE, div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:FOCUS{}

div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover{font-family: 'Arial';color: #0b0b0b;font-size:75%;text-shadow: none;line-height: 1.5;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;letter-spacing: 10px;word-spacing: normal;text-transform: uppercase;font-weight: bold;}
div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-3a34ce970df2c592d4fa66e99e70b331-hover:FOCUS{}

div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading{background: #ffffff;background: RGBA(255,255,255,0);opacity:1;padding:0.4em 1em 0.4em 1em ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:Hover, div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:ACTIVE, div#n2-ss-0 .n2-style-1599910e7eaf0ce35b3da837ae0f559c-heading:FOCUS{}

