.social_slider {  
	position: fixed;    
	right: -370px;    
	top: 120px;     
	z-index: 99997; 

}/*----- Icons -----*/
   .social_slider .tab-links .facebook_icon{
    float: right;
	height: 101px;
    width: 33px;
    background: url("../../images//fb1.png") no-repeat;
	cursor: pointer;
	position: relative;
    z-index: 99998;
    display: block;
    top: 20px;
    right: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
 .social_slider .tab-links .facebook_icon:hover {
 	-webkit-transform:scale(1.1);
    transform:scale(1.1);
    z-index: 99999;
   }
 .social_slider .tab-links .twitter_icon{
    float: right;
	height: 101px;
    width: 33px;
    background: url("../../images/tw1.png") no-repeat;
	cursor: pointer;
	position: relative;
    z-index: 99998;
    display: block;
    top: 25px;
    right: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
 .social_slider .tab-links .twitter_icon:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    z-index: 99999;
}
 .social_slider .tab-content .facebook_box {
    border:10px solid #3a93d6;
}
.social_slider .tab-content .twitter_box {
    border: 10px solid #68c2ff;
}