﻿/**
 * JS Social Tabs Slider
 * @license    GNU/GPL http://www.gnu.org/copyleft/gpl.html
 * @link       http://facebooklikebox.net
 */


.social_slider a:hover {
	background-color:transparent;
	text-decoration: none;
}
.social_slider .tabs {
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
    display:inline-block;
    border-radius: 8px;
}
  .social_slider .tab-links {
        position: absolute;
        width: 0px;
    }
   .social_slider .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 	
    /*----- Content of Tabs -----*/
 .social_slider .tab-content {
        background:#fff;
        float:left;
        width:370px;
    }

 .social_slider .tab-content .facebook_box {
	border-radius: 8px;
	background-color: #fff;
	position: relative;
    z-index: 99998;
}
.social_slider .tab-links a.active {
	z-index:99999;
	position: relative;
}
 .social_slider .tab {
            display:none;
        }
 
       .social_slider .tab.active {
            display:block;
            ;
        }
.social_slider .tab-content .twitter_box {
	border-radius: 8px;
	background-color: #19bfe5;
	position: relative;
    z-index: 99998;
}
.social_slider .tab-content .twitter_box #twitter-widget-0 {width: 340px; margin-bottom: -5px; }

.social_slider .tab-content .google_box {
	border-radius: 8px;
	background-color: #ffffff;
	position: relative;
    z-index: 99998;
    height: 450px;
}
.social_slider .tab-content .google_box iframe {
    height:105px !important;
}
.social_slider .tab-content .google_box .FP {
    width:97px !important;
}
.social_slider .tab-content .youtube_box {
	border-radius: 8px;
	background-color: #282828;
	position: relative;
    z-index: 99998;
    width:350px;
    height:450px;
}
.social_slider .tab-content .youtube_box .ytpadding {
	padding: 10px;
}
.social_slider .tab-content .youtube_box .ytpadding iframe {
    height:60px !important;
}
.social_slider .tab-content .youtube_box #ytplaylist {
	position: relative;
	width: 350px;
	height: 360px;
	}
.social_slider .tab-content .linkedin_box {
	border-radius: 8px;
	background-color: #ededed;
	position: relative;
    z-index: 99998;
    min-height:450px;
    height: 100%;
}
.social_slider .tab-content .linkedin_box iframe {
	margin-bottom:-10px;
}
.social_slider .tab-content .pinterest_box {
	border-radius: 8px;
	background-color: #f4f2f3;
	position: relative;
    z-index: 99998;
    height:450px;
    width:350px;
}
.social_slider .tab-content .pinterest_box #pinterest_container { position:relative; padding:0; margin:0; }
.social_slider .tab-content .pinterest_box #pinterest_container #pinterestimg {position:absolute; bottom:-2px; left:50px; width:60px; height:30px; }
.social_slider .tab-content .pinterest_box #pinterest_container input[type=submit]{
	width: 310px;
	vertical-align: middle
cursor:pointer;
background:none;
border:none;
margin-left: 15px;
margin-top: 15px;
margin-bottom: -5px;
color:#767676;
font-size:12px;
padding:10px 4px;
border:1px solid #E0E0E0;
text-shadow: 0px 1px  1px #E8E8E8;
background: rgb(247,247,247);
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0px 1px 1px #FFF inset,
			       0 0 0px 5px #EAEAEA;
   -moz-box-shadow:0px 1px 1px #FFF inset,	
   		           0 0 0px 5px #EAEAEA;
        box-shadow:0px 1px 1px #FFF inset,	
        		   0 0 0px 5px #EAEAEA;
/*transition*/
-webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}

.social_slider .tab-content .pinterest_box #pinterest_container input[type=submit]:hover{
color:#686868;
border-color: #CECECE;
background: rgb(244,244,244);
background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
/*box-shadow*/
-webkit-box-shadow:0px 1px 1px #FFF inset,			
                   0 0 0px 5px #E0E0E0;
   -moz-box-shadow:0px 1px 1px #FFF inset,
        			0 0 0px 5px #E0E0E0;
        box-shadow:0px 1px 1px #FFF inset,
        			0 0 0px 5px #E0E0E0;        
}

.social_slider .tab-content .pinterest_box #pinterest_container input[type=submit]:active,
.social_slider .tab-content .pinterest_box #pinterest_container input[type=submit]:focus{
position:relative;
top:1px;
color:#515151;
background: rgb(234,234,234);
background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
/*box-shadow*/
-webkit-box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
   -moz-box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
        box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
}
.social_slider .tab-content .pinterest_box #pinterest-feed {
	width: 370px;
	padding-top: 10px;
	height: 365px;
	max-height: 100%;
	overflow-y: scroll;
	margin-left: -20px;
}
.social_slider .tab-content .pinterest_box #pinterest-feed ul.pinstream li {
    display: block;
    width: 285px;
    margin: 0 6px 12px 6px;
    background: #fff;
    font: normal 13px/18px Arial, sans-serif;
    color: #333;
    position: relative;
    padding: 10px 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    list-style-type: none;
}
.social_slider .tab-content .pinterest_box #pinterest-feed ul.pinstream li img {
    padding: 1px;
    background: #fff;
    border: 1px solid #ececec;
    margin: 3px 0 5px 0;
}
.social_slider .tab-content .pinterest_box #pinterest-feed ul.pinstream li .date {
    display: block;
    clear: both;
    margin: 10px 0 0 0;
    line-height: 12px;
    color: #666;
    font-size: 11px;
    font-style: italic;
}
.social_slider .tab-content .vimeo_box {
	border-radius: 8px;
	background-color: #006699;
	position: relative;
    z-index: 99998;
    height:450px;
}
.social_slider .tab-content .contactus_box {
	float:right;
	position: relative;
    z-index: 99998;
    min-height: 450px;
    height:100%;
    width: 370px;
	background: #D1D1D1; /* Old browsers */
	background: -moz-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: -o-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
    background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px); /* FF3.6+ */
	/*border-radius*/
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
	/*box-shadow*/
	-webkit-box-shadow:0px 1px 6px #3F3F3F;
    -moz-box-shadow:0px 1px 6px #3F3F3F;
    box-shadow:0px 1px 6px #3F3F3F;
}

.social_slider .tab-content .contactus_box:after{
	float:right;
	background:#F9F9F9;
	margin:10px;
	position: absolute;
	content : " ";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1; 
	border:1px #E5E5E5 solid;       
	/*border-radius*/
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
}
.social_slider .tab-content .instagram_box {
	
}
.social_slider .tab-content .instagram_box .insta-profile-widget {
	width:350px;  
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4); 
	border-radius: 8px;
	background-color: #ECEDEF;
	float:right;
	position: relative;
    z-index: 99998;
}

.social_slider .tab-content .instagram_box .insta-profile-images {
	position:relative;	
}

.social_slider .tab-content .instagram_box .insta-profile-images:before,
.social_slider .tab-content .instagram_box .insta-profile-images:after {
    content: " ";
    display: table;
}

.social_slider .tab-content .instagram_box .insta-profile-images:after {
    clear: both;
}

.social_slider .tab-content .instagram_box .insta-profile-images {
    *zoom: 1;
}


.social_slider .tab-content .instagram_box .insta-profile-table {
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	margin-top:-1px;
	margin-left:-1px;
	height:100%;
}

.social_slider .tab-content .instagram_box .insta-profile-cell {
	display:table-cell;
	width:116px;
	height:165px;
	float:left;
	border:solid black 1px;
	border-left:0px;
	background-size: cover;
	background-position: center;
	background-color:#000000;	
	-webkit-filter: sepia(50%);	
	overflow:hidden;
	position:relative;
}

.social_slider .tab-content .instagram_box .insta-profile-cell.first {
	border-right:0px;	
}

.social_slider .tab-content .instagram_box .insta-profile-cell:after {
	content:"";
	width:116px;
	height:165px;
	display:block;
	border:1px solid rgba(255,255,255,0.2);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-top:0px;	
	position:absolute;
	z-index:9;
	top:0px;
	left:0px;
}

.social_slider .tab-content .instagram_box .insta-profile-cell-image {
	width:116px;
	height:165px;
	background-size: cover;
	background-position: center;
	display:none;
	position:relative;
	z-index:1;
}

.social_slider .tab-content .instagram_box .insta-profile-cell-image.load {
	opacity:1;	
}

.social_slider .tab-content .instagram_box .insta-profile-details {
	position:relative;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	height:48px;
	border-bottom:1px solid #cecece;
}

.social_slider .tab-content .instagram_box .insta-profile-details h1 {
	text-align:center;
	font-size:17px;
	line-height:50px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	margin:0;
	letter-spacing: -0.04em;
	text-shadow: 1px 0px 0px #ffffff;	
}

.social_slider .tab-content .instagram_box .insta-profile-icon {
	width:24px;
	height:25px;
	background-image: url(../images/icon.png);
	position:absolute;
	left:12px;
	top:50%;
	margin-top:-11px;
}

.social_slider .tab-content .instagram_box .insta-profile-avatar {
	padding:4px;
	background-color:#ffffff;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width:70px;
	height:70px;
	position:absolute;
	left:50%;
	top:-70px;
	margin-left:-39px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4); 
	z-index:99;
}

.social_slider .tab-content .instagram_box .insta-profile-avatar img {
	width:70px;
	height:70px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.insta-profile-avatar a {
	display:block;	
	position:relative;
}

.social_slider .tab-content .instagram_box .insta-profile-avatar a:after {
	content: "";
	width:10px; 
	height:10px;
	background:none;
	z-index:99;
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:68px;
	height:68px;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.social_slider .tab-content .instagram_box .insta-profile-stat {
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:7px 13px;	
	font-size:10px;
	color:#777777;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;	
	font-weight:400;
	text-align:center;
}

.social_slider .tab-content .instagram_box .insta-profile-stat strong {
	display:block;	
	font-family:'Roboto', sans-serif;
	color:#111111;
	font-size:14px;
	font-weight:500;
}

.social_slider .tab-content .instagram_box .insta-profile-divider {
	float:left;
	width:1px;
	height:45px;
	background:#ececec;	
}

.social_slider .tab-content .instagram_box .insta-profile-btn {
	display:block;
	float:right;
	margin:9px;
	padding:4px 11px;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	border:1px solid #006314;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-family:'Roboto', sans-serif;
	text-shadow:0px 1px 1px rgba(0,0,0,0.4);
	background: rgb(72,199,99);
	background: -moz-linear-gradient(top,  rgba(72,199,99,1) 0%, rgba(54,169,76,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,199,99,1)), color-stop(100%,rgba(54,169,76,1)));
	background: -webkit-linear-gradient(top,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	background: -o-linear-gradient(top,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	background: -ms-linear-gradient(top,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	background: linear-gradient(to bottom,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c763', endColorstr='#36a94c',GradientType=0 );
	line-height: 17px;
}

.social_slider .tab-content .instagram_box .insta-profile-btn:active {
	background:#37aa4d;	
}
#contact p, label, legend { font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; color: #000000 }

#contact h1 { margin: 10px 0 10px; font-size: 24px; color: #333333; }
#contact hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }

#contact { display: block; width: 340px; height: 100%; padding: 20px; text-align: left;  margin-top: -15px;}

#contact label { display: inline-block; float: left; height: 26px; line-height: 26px; width: 155px; font-size: 12px; -webkit-border-radius:5px; color: #000000;}
#contact input, textarea, select { width: 280px; margin: 0; padding: 5px; color: #000; background: #f5f5f5; border: 1px solid #ccc; margin: 5px 0; font:12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; webkit-border-radius:5px; }
#contact input:focus, textarea:focus, select:focus { border: 1px solid #999; background-color: #fff; color:#000; }
#contact input:not([type="submit"]), textarea{
	outline:none;
display:block;
width:275px;
padding:4px 8px;
border:1px dashed #DBDBDB;
color:#3F3F3F;
font-size:14px;
/*border-radius*/
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
/*transition*/
-webkit-transition:background 0.2s linear,
				   box-shadow 0.6s linear;
   -moz-transition:background 0.2s linear,
				   box-shadow 0.6s linear;
     -o-transition:background 0.2s linear,
				   box-shadow 0.6s linear;
        transition:background 0.2s linear,
				   box-shadow 0.6s linear;
}
#contact input:not([type="submit"]):active, 
textarea:active,
#contact input:not([type="submit"]):focus, 
textarea:focus{
background:#F7F7F7;
border:dashed 1px #969696;
/*box-shadow*/
-webkit-box-shadow:2px 2px 7px #E8E8E8 inset;
   -moz-box-shadow:2px 2px 7px #E8E8E8 inset;
        box-shadow:2px 2px 7px #E8E8E8 inset;
}
#contact input:not([type="submit"]){
height: 20px;
}
/* placeholder */
::-webkit-input-placeholder  { 
color:#BABABA; 
font-style:italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
color:#BABABA;
font-style:italic;
} 
textarea{
min-height:50px;
resize:vertical
}
#contact input[type=submit]{
	width: 290px;
cursor:pointer;
background:none;
border:none;
font-family: 'Alice',serif;
color:#767676;
font-size:18px;
padding:10px 4px;
border:1px solid #E0E0E0;
text-shadow: 0px 1px  1px #E8E8E8;
background: rgb(247,247,247);
background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0px 1px 1px #FFF inset,
			       0 0 0px 5px #EAEAEA;
   -moz-box-shadow:0px 1px 1px #FFF inset,	
   		           0 0 0px 5px #EAEAEA;
        box-shadow:0px 1px 1px #FFF inset,	
        		   0 0 0px 5px #EAEAEA;
/*transition*/
-webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}

#contact input[type=submit]:hover{
color:#686868;
border-color: #CECECE;
background: rgb(244,244,244);
background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
/*box-shadow*/
-webkit-box-shadow:0px 1px 1px #FFF inset,			
                   0 0 0px 5px #E0E0E0;
   -moz-box-shadow:0px 1px 1px #FFF inset,
        			0 0 0px 5px #E0E0E0;
        box-shadow:0px 1px 1px #FFF inset,
        			0 0 0px 5px #E0E0E0;        
}

#contact input[type=submit]:active,
#contact input[type=submit]:focus{
position:relative;
top:1px;
color:#515151;
background: rgb(234,234,234);
background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(242,242,242,1)));
background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
/*box-shadow*/
-webkit-box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
   -moz-box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
        box-shadow:0px -1px 1px #FFF inset,
				   0 0 0px 5px #E0E0E0;
}

#contact fieldset { padding: 0; border: 0px !important; padding-left: 15px;}
#contact legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; margin-bottom:0 !important; margin-bottom:20px; }
#contact span.required{ font-size: 12px; color: #ff0000; } 

#message { margin: 10px 0; padding: 15px; }

.error_message { display: block;  height: 100%; line-height: 22px; width: 245px; background: #FBE3E4 url('../images/error.gif') no-repeat 10px center; padding: 3px 10px 3px 35px; color:#8a1f11;border: 1px solid #FBC2C4; -webkit-border-radius:5px; }

.loader {  width: 25px; display:block; margin: -40px 0 0 85px;}
#contact #success_page { height: 450px; margin-left: -20px;}
#contact #success_page h1 { background: url('../images/success.gif') left no-repeat; padding-left:22px; }

acronym { border-bottom:1px dotted #ccc; }