@charset "utf-8";
/* CSS Document */

.my_e1 .entry-thumbnail {
  float: right !important;
}
.my_e1 .entry-body {
    float: left;
    font-size: 13px;
    width: 77%;
    text-align: justify;
    line-height: 14px;
} 
.vc_custom_1487495132748 {
    background-image: url(../images/bg-3-min.jpg) !important;
}

.why-choose-us ul li + li {
    padding-top: 20px !important;
}

.section-testimonials {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0 70px;
}
.contact-box {
    left: 5px;
}	
.hot-detail {
    padding-left: 30px !important;
}
.navbar-footer ul>li {
    display: inline-block;
}
footer .nav > li > a {
    position: relative;
    display: block;
    padding: 1px 15px;
	list-style:disc;
}

.browse-view .virtuemart_search {
    background-color: #f47321 !important;
	display: flex;
	padding: 13px;
}

.browse-view .virtuemart_search input[type="text"]{
	height: 45px;
    line-height: 45px;
    background-color: transparent;
    border: 2px solid;
    width: 200px;
    padding: 0 50px 0 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
	float:left;
	margin: 10px 20px;
}

.browse-view .virtuemart_search input.button
{
	display:none;
}

.virtuemart_search form {
    width: 100%;
    line-height: 40px;
    color: #fefefe;
}
.virtuemart_search form  input, .virtuemart_search form  span{
	padding:10px;
}

::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
element {

}
.category_description {
    padding: 30px;
}

.output-billto span.values, .output-shipto span.values, .floatleft, span.floatleft {
    /*float: none !important;*/
}

.vm-order-list{/*display:none !important;*/}