#ottestimonials-ottestimonials, #ottestimonials-content, #ottestimonial_add
{
	background:#ffffff;	padding:20px
}
.ot_testimonial {

    margin: 0;

    background: #B7EDFF;

    padding: 10px 50px;

    position: relative;

    font-family: Georgia, serif;

    color: #666;

    border-radius: 5px;

    font-style: italic;

    text-shadow: 0 1px 0 #ECFBFF;

    background-image: linear-gradient(#CEF3FF, #B7EDFF);

}

.ot_testimonial:before, .ot_testimonial:after {

    content: "\201C";

    position: absolute;

    font-size: 80px;

    line-height: 1;

    color: #999;

    font-style: normal;

}

.ot_testimonial:before {

    top: 0;

    left: 10px;

}

.ot_testimonial:after {

    content: "\201D";

    right: 10px;

    bottom: -0.5em;

}

.arrow-down {

    width: 0;

    height: 0;

    border-left: 15px solid transparent;

    border-right: 15px solid transparent;

    border-top: 15px solid #B7EDFF;

    margin: 0 0 0 25px;

}

.ot_testimonial-author {

    margin: 0 0 0 25px;

    font-family: Arial, Helvetica, sans-serif;

    color: #999;

    text-align: left;

}

.ot_testimonial-author span {

    font-size: 12px;

    color: #666;

}

span.stars, span.stars span {

    display: block;

    background: url(../images/stars.png) 0 -16px repeat-x;

    width: 80px;

    height: 16px;

}



span.stars span {

    background-position: 0 0;

}